<template>
    <a-card v-if="exito === null" title="Generar Ingreso" style="width: 100%">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24">
                <a-alert v-if="error" type="error" :message="message" banner />
            </a-col>

            <a-col :xs="24" :sm="24" :md="6">
                Concepto:
            </a-col>
            <a-col :xs="24" :sm="24" :md="18">
                <a-input v-model:value="concept" style="width: 100%"/>
            </a-col>


            <a-col :xs="24" :sm="24" :md="6">
                Dueño de Cuenta:
            </a-col>
            <a-col :xs="24" :sm="24" :md="18">
                <a-select v-model:value="account_owner" style="width: 100%" :options="owners"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="6">
                Pais Del Wallet:
            </a-col>
            <a-col :xs="24" :sm="24" :md="18">
                <a-select v-model:value="countrie" @change="consultWallet" style="width: 100%"
                    :options="countries"></a-select>
            </a-col>
            <a-col style="font-size: 2rem" :xs="24" :sm="24" :md="6">
                Monto Actual: <br> {{ wallet.available }} {{ wallet.countrie.currency }}
            </a-col>
            <a-col style="font-size: 2rem" :xs="24" :sm="24" :md="6">
                Nuevo Monto: <br> {{ parseFloat(wallet.available) + parseFloat(amount) }} {{ wallet.countrie.currency }}
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input type="number" v-model:value="amount" style="width: 100%"></a-input>
                <a-button style="width: 100%; margin-top: 1rem;" @click="addSaldo" type="primary">Agregar
                    Saldo</a-button>
            </a-col>
        </a-row>
    </a-card>

    <a-result v-if="exito === true" status="success" title="Ingreso Registrado con exito!"
        sub-title="Su transaccion ha sido registrada exitosamente">
        <template #extra>
            <a-button @click="resetIngress" key="console" type="primary">Agregar Otro Ingreso</a-button>
        </template>
    </a-result>
    <a-result v-if="exito === false" status="error" title="Ingreso No Registrado!"
        sub-title="Intente Nuevamente y revise sus datos con cuidado">
        <a-button @click="resetIngress" key="console" type="primary">Intentar Nuevamente</a-button>
    </a-result>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

const owners = ref([])
const countries = ref([])
const account_owner = ref(null)
const countrie = ref(null)
const error = ref(false)
const amount = ref(0)
const message = ref('')
const exito = ref(null)
const concept = ref('')
const wallet = ref({
    available: 0,
    countrie: {
        currency: ''
    }
})
const getDueno = () => {
    instanceWithToken.get('users?type_user=account_owner').then((result) => {
        owners.value = []
        result.data.data.map((owner) => {
            owners.value.push({
                value: owner.id,
                label: "Nombre: " + owner.name + " | " + owner.user
            })
        })
    })
}

const getCountries = () => {
    instanceWithToken.get('countries?status=null').then((result) => {
        countries.value = []
        result.data.data.map((countrie) => {
            countries.value.push({
                label: countrie.name,
                value: countrie.id
            })
        })
    })
}

getDueno()
getCountries()


const consultWallet = () => {
    instanceWithToken.get('wallet-users/filtrar?type_wallet=USER&userId=' + account_owner.value + '&countrieId=' + countrie.value).then((result) => {
        if (result.data.success) {
            error.value = false
            message.value = ''
            wallet.value = result.data.data
        }
        else {
            error.value = true
            message.value = result.data.message
            amount.value = 0
            wallet.value = {
                available: 0,
                countrie: {
                    currency: ''
                }
            }
        }
    })
}

const addSaldo = () => {
    if (error.value) {
        const playload = {
            concept: concept.value,
            countrie: countrie.value,
            user: account_owner.value,
            type_wallet: 'USER',
            available: parseFloat(amount.value),
            type: 'INGRESO'
        }

        instanceWithToken.post('wallet-users', playload).then((result) => {
            if (result.data.success) {
                exito.value = true
            }
            else {
                exito.value = false
            }
        }).catch((e) => message.error("No se ha podido registrar", error))
    }
    else {
        console.log('wallet-users/' + wallet.value.id)
        const playload = { amount: parseFloat(amount.value), type: 'INGRESO', concept: concept.value }
        instanceWithToken.patch('wallet-users/' + wallet.value.id, playload).then((result) => {
            if (result.data.success) {
                exito.value = true
            }
            else {
                exito.value = false
            }
        })
    }

}

const resetIngress = () => {
    error.value = false
    exito.value = null
    countrie.value = null
    account_owner.value = null
    amount.value = 0
    wallet.value = {
        available: 0,
        countrie: {
            currency: ''
        }
    }
}
</script>