<template>
    <a-card title="Generar Orden de Pago" style="width: 100%">
        <a-row v-if="exito === null" :gutter="[8, 8]">

            <a-col :xs="24" :sm="24" :md="24">
                <a-alert v-if="error" type="error"
                    message="EL MONTO DEL GASTO / PAGO NO PUEDE SUPERAR AL DISPONIBLE EN LA WALLET DEL USUARIO"
                    banner />
            </a-col>

            <a-col :xs="24" :sm="24" :md="3">
                <b>Tipo de Orden</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="4">
                <a-select v-model:value="type_order" style="width: 100%" :options="types_orders"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="3">
                <b>Concepto</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="14">
                <a-input v-model:value="concept" style="width: 100%"></a-input>
            </a-col>

            <a-col :xs="24" :sm="24" :md="4">
                <b>Ejecutor</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-select v-model:value="owner_send" @change="getWallets" style="width: 100%"
                    :options="owners"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="4">
                <b>Wallet Origen</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-select v-model:value="countrie" @change="consultWallet" style="width: 100%"
                    :options="countries"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <b>Monto Disponible:</b> {{ wallet.available }} {{ wallet.countrie.currency }}
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <b>Monto a Transaccionar:</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-input max="100" type="number" v-model:value="amount" :suffix="wallet.countrie.currency" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="4">
                <b>Receptor</b>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-select :disabled="type_order !== 'TRANSFERENCIA'" v-model:value="owner_receive" style="width: 100%"
                    :options="owners"></a-select>
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-button type="primary" @click="store" style="width:100%">Generar</a-button>
            </a-col>
        </a-row>

        <a-result v-if="exito === true" status="success" title="ORDEN DE PAGO EXITOSA!"
            sub-title="Se ha generado la orden de pago exitosamente!">
            <template #extra>
                <a-button @click="resetIngress" key="console" type="primary">Agregar Otra Orden de Pago</a-button>
            </template>
        </a-result>
        <a-result v-if="exito === false" status="error" title="ORDEN DE PAGO ERRONEA!"
            sub-title="Intente Nuevamente y revise sus datos con cuidado">
            <a-button @click="resetIngress" key="console" type="primary">Intentar Nuevamente</a-button>
        </a-result>
    </a-card>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

const owners = ref([])
const countries = ref([])
const types_orders = ref([
    { value: 'PAGO', label: 'PAGO' },
    { value: 'TRANSFERENCIA', label: 'TRANSFERENCIA' },
])

const type_order = ref(null)
const owner_send = ref(null)
const owner_receive = ref(null)
const countrie = ref(null)
const error = ref(false)
const amount = ref(0)
const exito = ref(null)
const wallet = ref({
    available: 0,
    countrie: {
        currency: ''
    }
})
const concept = ref('')
const getDueno = () => {
    instanceWithToken.get('users?type_user=account_owner').then((result) => {
        owners.value = []
        result.data.data.map((owner) => {
            owners.value.push({
                value: owner.id,
                label: "Nombre: " + owner.name + " | " + owner.user
            })
        })
    })
}

const getWallets = () => {
    instanceWithToken.get('wallet-users?type_wallet=USER&userId=' + owner_send.value).then((result) => {
        countries.value = []
        result.data.data.map((wallet) => {
            countries.value.push({
                label: wallet.countrie.name,
                value: wallet.countrie.id
            })
        })
    })
}

getDueno()

const consultWallet = () => {
    instanceWithToken.get('wallet-users/filtrar?id=' + countrie.value).then((result) => {
        if (result.data.success) {
            wallet.value = result.data.data
        }
        else {
            amount.value = 0
            wallet.value = {
                available: 0,
                countrie: {
                    currency: ''
                }
            }
        }
    })
}

const store = () => {
    const playload = {
        type_order: type_order.value,
        concept: concept.value,
        owner_send: owner_send.value,
        countrie_wallet: countrie.value,
        amount: amount.value,
        owner_received: owner_receive.value,
    }

    instanceWithToken.post('orders-pay', playload).then((result) => {
        if (result.data.success) {
            exito.value = true
        }
        else {
            exito.value = false
        }
    })
}

const resetIngress = () => {
    exito.value = null
    error.value = false
    type_order.value = null
    concept.value = ''
    owner_send.value = null
    countrie.value = null
    amount.value = null
    owner_receive.value = null
    wallet.value = {
        available: 0,
        countrie: {
            currency: ''
        }
    }
}
</script>