<template>
  <a-card title="Reporte Financiero" style="width: 100%">
    <a-tabs v-model:activeKey="activeKey">
      <a-tab-pane key="1">
        <template #tab>
          <span>
            <global-outlined />
            Reporte por Pais
          </span>
        </template>
        <a-row>
          <a-col :xs="24" :sm="24" :md="24">
            <a-select v-model:value="countrie" placeholder="SELECCIONE PAIS" @change="consultCountrie"
              style="width: 100%" :options="countries"></a-select>
            <p style="font-size: 1rem; font-weight: 700">Total Disponible: {{ totalPaises }}</p>
          </a-col>
          <a-col :xs="24" :sm="24" :md="24">
            <a-table style="margin-top: 1rem" :columns="columnsCountrie" :row-key="(record) => record.id"
              :data-source="countriesData" :loading="loading">
              <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'user'">
                  {{ record.user.name }}
                </template>
              </template>
            </a-table>
          </a-col>
        </a-row>
      </a-tab-pane>
      <a-tab-pane key="2">
        <template #tab>
          <span>
            <user-outlined />
            Reporte por Dueño de Cuenta
          </span>
        </template>
        <a-row>
          <a-col :xs="24" :sm="24" :md="24">
            <a-select v-model:value="user" placeholder="SELECCIONE UN DUEÑO DE CUENTA" @change="consultUser"
              style="width: 100%" :options="owners"></a-select>
          </a-col>
          <a-col :xs="24" :sm="24" :md="24">
            <a-table style="margin-top: 1rem" :columns="usersColumns" :row-key="(record) => record.id"
              :data-source="usersData" :loading="loading">
              <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'countrie'">
                  {{ record.countrie.name }}
                </template>

                <template v-if="column.key === 'amount'">
                  {{ record.available }} {{ record.countrie.currency }}
                </template>
              </template>
            </a-table>
          </a-col>
        </a-row>
      </a-tab-pane>
      <a-tab-pane key="3">
        <template #tab>
          <span>
            <ordered-list-outlined />
            Detalle
          </span>
        </template>
        <a-row :gutter="[8, 8]">
          <a-col :xs="24" :sm="24" :md="6">
            <a-select v-model:value="type_wallet" placeholder="SELECCIONE TIPO DE WALLET" @change="consultDetails"
              style="width: 100%" :options="typesWallet"></a-select>
          </a-col>
          <a-col :xs="24" :sm="24" :md="6">
            <a-select v-model:value="countrieDetails" placeholder="SELECCIONE PAIS" @change="consultDetails"
              style="width: 100%" :options="countries"></a-select>
          </a-col>
          <a-col :xs="24" :sm="24" :md="6">
            <a-select v-model:value="userDetails" placeholder="SELECCIONE UN DUEÑO DE CUENTA" @change="consultDetails"
              style="width: 100%" :options="owners"></a-select>
          </a-col>
          <!-- <a-col :xs="24" :sm="24" :md="6">
            <a-date-picker v-model:value="fecha" style="width: 100%" />
          </a-col> -->
          <a-col :xs="24" :sm="24" :md="24">
            <a-table style="margin-top: 1rem" :columns="detalleColums" :row-key="(record) => record.id"
              :data-source="detallesData" :loading="loading">
              <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'createdAt'">
                  {{record.createdAt.split("T")[0]}}
                </template>
                <template v-if="column.key === 'concept'">
                  {{record.concept}}
                </template>
                <template v-if="column.key === 'ingreso'">
                  <p v-if="record.type == 'INGRESO'" style="color: green">{{ record.amount_transaction }}</p>
                </template>
                <template v-if="column.key === 'egreso'">
                  <p v-if="record.type == 'EGRESO'" style="color: red">{{ record.amount_transaction }}</p>
                </template>
              </template>
            </a-table>
          </a-col>
        </a-row>
      </a-tab-pane>
    </a-tabs>
  </a-card>
</template>
<script setup>
definePageMeta({
  layout: "admin",
});

const type_wallet = ref('USER')
const typesWallet = ref([
  { value: 'PROFITS', label: 'GANANCIAS' },
  { value: 'USER', label: 'PANET' },
  { value: 'TRANSACTIONS', label: 'RECARGAS' },
])

const countries = ref([])
const countrie = ref(null)

const loading = ref(false)

const getCountries = () => {
  instanceWithToken.get('countries?status=null').then((result) => {
    countries.value = []
    result.data.data.map((countrie) => {
      countries.value.push({
        label: countrie.name,
        value: countrie.id
      })
    })
  })
}
getCountries()


const countriesData = ref([])
const columnsCountrie = ref([
  {
    title: "Usuario",
    dataIndex: "user",
    key: "user",
  },
  {
    title: "Monto",
    dataIndex: "available",
    key: "available",
  },
])
const totalPaises = ref(0)
const consultCountrie = () => {
  loading.value = true
  instanceWithToken.get('wallet-users?countrieId=' + countrie.value).then((result) => {
    countriesData.value = result.data.data
    const availableValues = result.data.data.map(item => item.available);
    const totalAvailable = availableValues.reduce((acc, currentValue) => parseFloat(acc) + parseFloat(currentValue), 0);
    totalPaises.value = totalAvailable
    loading.value = false
  })
}

const user = ref(null)
const owners = ref([])

const usersData = ref([])
const usersColumns = ref([
  {
    title: "Pais",
    dataIndex: "countrie",
    key: "countrie",
  },
  {
    title: "Monto",
    dataIndex: "amount",
    key: "amount",
  },
])

const getDueno = () => {
  instanceWithToken.get('users?type_user=account_owner').then((result) => {
    owners.value = []
    result.data.data.map((owner) => {
      owners.value.push({
        value: owner.id,
        label: "Nombre: " + owner.name + " | " + owner.user
      })
    })
  })
}

getDueno()
const consultUser = () => {
  loading.value = true
  instanceWithToken.get('wallet-users?userId=' + user.value).then((result) => {
    usersData.value = result.data.data
    loading.value = false
  })
}


const detalleColums = ref([
{
    title: "Fecha",
    dataIndex: "createdAt",
    key: "createdAt",
  },
  {
    title: "Concepto",
    dataIndex: "concept",
    key: "concept",
  },
  {
    title: "Ingreso",
    dataIndex: "ingreso",
    key: "ingreso",
  },
  {
    title: "Egreso",
    dataIndex: "egreso",
    key: "egreso",
  },
  {
    title: "Balance",
    dataIndex: "new_amount",
    key: "new_amount",
  },
])
const detallesData = ref([])
const userDetails = ref(null)
const countrieDetails = ref(null)
const fecha = ref()
const consultDetails = () => {
  if (userDetails.value && countrieDetails.value) {
    instanceWithToken.get('trans-wall?userId=' + userDetails.value + '&countrieId=' + countrieDetails.value + '&type_wallet=' + type_wallet.value).then((result) => {
      if (!result.data.success) {
        message.error(result.data.message)
      }
      else {
        detallesData.value = result.data.data
      }
    })
  }
}
</script>
