<template>
    <a-card title="Listado de Ordenes de Pago" style="width: 100%">
        <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="data"
            :loading="loading">
            <template #bodyCell="{ column, record }">
                <template v-if="column.key === 'status'">
                    <a-tag v-if="record.status == 'CREADA'" color="blue">CREADA</a-tag>
                    <a-tag v-if="record.status == 'EJECUTADA'" color="yellow">EJECUTADA</a-tag>
                    <a-tag v-if="record.status == 'COMPLEATADA'" color="green">COMPLETADA</a-tag>
                    
                </template>
            </template>
        </a-table>
    </a-card>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});
const data = ref([])
const columns = [
    {
        title: "Concepto",
        dataIndex: "concept",
        key: "concept",
    },
    {
        title: "Monto",
        dataIndex: "amount",
        key: "amount",
    },
    {
        title: "Tipo",
        dataIndex: "type_order",
        key: "type_order",
    },
    {
        title: "Status",
        dataIndex: "status",
        key: "status",
    },
    {
        title: "",
        key: "action",
    },
];

const getOrders = () => {
    instanceWithToken.get('orders-pay').then((result) => {
        data.value = result.data.data
    })
}

getOrders()
</script>