<template>
    <a-card title="Resultado">
        <a-result
            status="success"
            title="Guia Registrada con exito!"
            :sub-title="text"
        >
            <template #extra>
                <a-button @click="ticket = true" key="console" type="primary"
                    >Ticket</a-button
                >
                <a-button @click="guia = true" key="buy">Guia</a-button>
            </template>
        </a-result>
    </a-card>

    <a-modal
        v-model:open="ticket"
        @ok="ticket = false"
        title="Registrar Usuario"
    >
        <object
            :data="urlTicket"
            type="application/pdf"
            width="100%"
            height="600"
        />
    </a-modal>

    <a-modal v-model:open="guia" @ok="guia = false" title="Registrar Usuario">
        <object
            :data="urlGuia"
            type="application/pdf"
            width="100%"
            height="600"
        />
    </a-modal>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});
const route = useRoute();
const ticket = ref(false);
const guia = ref(false);
const text = ref("Su numero de guia es: " + route.params.id);
const urlTicket = ref(
    "https://apiapp.suramericacargo.com/api/pdfs/generar/ticket/" +
        route.params.id,
);

const urlGuia = ref(
    "https://apiapp.suramericacargo.com/api/pdfs/generar/guia/" +
        route.params.id,
);
</script>
