<template>
  <a-card title="Transacciones" style="width: 100%">
    <template #extra>
      <a-button @click="create = true" type="primary" block>
        <SwapOutlined />
        Agregar Nueva Transaccion</a-button
      >
    </template>
  </a-card>

  <a-table
    style="margin-top: 1rem"
    :columns="columns"
    :row-key="(record) => record.id"
    :data-source="presupuestos"
    :loading="loading"
  >
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'type'">
        <a-tag v-if="record.type == 'INGRESO'" color="green">INGRESO</a-tag>
        <a-tag v-else color="red">EGRESO</a-tag>
      </template>

      <template v-if="column.key === 'action'">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClick">
              <a-menu-item @click="editar(record)" key="1">
                <EditOutlined />
                Editar
              </a-menu-item>
              <a-menu-item @click="usuarios(record.id)" key="2">
                <UserOutlined />
                Ver Usuarios
              </a-menu-item>
            </a-menu>
          </template>
          <a-button>
            Acciones
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </template>
    </template>
  </a-table>

  <CrearTransaccion v-model:open="create" />
</template>
<script setup>
definePageMeta({
  layout: "admin",
});
import CrearTransaccion from '@/pages/transferencias/components/CrearTransaccion'
const create = ref(false);
const presupuestos = ref([]);
const loading = ref(true);
const columns = [
  {
    title: "Fecha",
    dataIndex: "date",
    key: "date",
  },
  {
    title: "Concepto",
    dataIndex: "concept",
    key: "concept",
  },
  {
    title: "Tipo",
    dataIndex: "type",
    key: "type",
  },
  {
    title: "Monto",
    dataIndex: "amount",
    key: "amount",
  },
];

const getPresupuestos = async () => {
  const {
    data: result,
    error,
    fetchData,
  } = useHttpGetWithBearer("presupuesto");

  await fetchData();

  if (!error.value) {
    presupuestos.value = result.value.data;
    loading.value = false;
  }
};

getPresupuestos();

watch((create) => {
  if (!create.value) {
    getPresupuestos();
  }
});
</script>
