<template>
    <a-card title="Usuarios" style="width: 100%">
        <template #extra>
            <a-button @click="open = true" type="primary" block>
                <UserAddOutlined /> Agregar Nuevo
            </a-button>
        </template>
    </a-card>

    <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="users"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'typeUser'">
                <a-tag v-if="record.typeUser == 'PSADMIN'" color="green">SUPER ADMINISTRADOR</a-tag>
                <a-tag v-else-if="record.typeUser == 'PADMIN'" color="warning">ADMINISTRADOR</a-tag>
                <a-tag v-else-if="record.typeUser == 'POPERARIO'" color="blue">OPERARIO</a-tag>
                <a-tag color="#87d068" v-if="record.account_owner">Dueño de Cuenta</a-tag>
                <a-tag color="#108ee9" v-if="record.puller">Jalador</a-tag>
                <a-tag color="#960018" v-if="record.dispatcher">Despachador</a-tag>
            </template>

            <template v-if="column.key === 'action'">
                <a-dropdown>
                    <template #overlay>
                        <a-menu>
                            <a-menu-item @click="editar(record)" :key="`editar_${record.id}`">
                                <EditOutlined />
                                Editar
                            </a-menu-item>
                            <a-menu-item @click="updatePassword(record)" :key="`cambioclave_${record.id}`">
                                <KeyOutlined />
                                Cambio de Clave
                            </a-menu-item>
                        </a-menu>
                    </template>
                    <a-button>
                        Acciones
                        <DownOutlined />
                    </a-button>
                </a-dropdown>
            </template>
        </template>
    </a-table>

    <!-- modal de registro -->
    <a-modal v-model:open="open" title="Registrar Usuario" @ok="storeUsuario" ok-text="Registrar"
        :ok-button-props="{ loading: registrando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="12">
                <a-select v-model:value="typeUser" show-search placeholder="Seleccione Tipo de Usuario"
                    style="width: 100%" :options="options" :filter-option="filterOption"
                    @change="handleChange"></a-select>
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-select :disabled="sucursalSelect" v-model:value="user.sucursal" show-search style="width: 100%"
                    placeholder="Seleccione Sucursal" :options="sucursales" :filter-option="filterOption"
                    :field-names="{ label: 'name', value: 'id' }"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-input v-model:value="user.name" placeholder="Nombre" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="user.user" placeholder="Usuario" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="user.password" placeholder="Clave" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                Permisos en las Apps:
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="user.account_owner" checked-children="Dueño de Cuenta"
                    un-checked-children="Dueño de Cuenta" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="user.puller" checked-children="Jalador" un-checked-children="Jalador" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="user.dispatcher" checked-children="Despachador"
                    un-checked-children="Despachador" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                Permisos en las Web:
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="user.remittances" checked-children="Remesas" un-checked-children="Remesas" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="user.shipments" checked-children="Paqueteria"
                    un-checked-children="Paqueteria" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <label>COMISION AL JALADOR</label>
                <a-input v-model:value="user.profit_commission" addon-after="%" placeholder="Comision"
                    :disabled="!user.puller" />
            </a-col>
        </a-row>
    </a-modal>

    <!-- modal de editar -->
    <a-modal v-model:open="openEdit" title="Editar Usuario" @ok="updateUsuario" ok-text="Actuallizar"
        :ok-button-props="{ loading: actualizando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="12">
                <a-select v-model:value="userEdit.typeUser" show-search placeholder="Seleccione Tipo de Usuario"
                    style="width: 100%" :options="options" :filter-option="filterOption"
                    @change="handleChangeEdit"></a-select>
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-select :disabled="sucursalSelect" v-model:value="userEdit.sucursal" show-search style="width: 100%"
                    placeholder="Seleccione Sucursal" :options="sucursales" :filter-option="filterOption"
                    :field-names="{ label: 'name', value: 'id' }"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-input v-model:value="userEdit.name" placeholder="Nombre" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-input disabled v-model:value="userEdit.user" placeholder="Usuario" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                Permisos en las Apps:
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="userEdit.account_owner" checked-children="Dueño de Cuenta"
                    un-checked-children="Dueño de Cuenta" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="userEdit.puller" checked-children="Jalador" un-checked-children="Jalador" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="userEdit.dispatcher" checked-children="Despachador"
                    un-checked-children="Despachador" />
            </a-col>

            <a-col :xs="24" :sm="24" :md:="24">
                Permisos en la web
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="userEdit.remittances" checked-children="Remesas"
                    un-checked-children="Remesas" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <a-switch v-model:checked="userEdit.shipments" checked-children="Paqueteria"
                    un-checked-children="Paqueteria" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <label>Comision del Jalador</label>
                <a-input v-model:value="userEdit.profit_commission" addon-after="%" placeholder="Comision"
                    :disabled="!user.puller" />
            </a-col>
        </a-row>
    </a-modal>

    <Dialog v-model:visible="modalPassword" modal :header="`Asignar Nueva Clave a : ${cambioPassword.name}`"
        class="w-[90%] md:w-[45%]">
        <div class="flex flex-col gap-3 mb-3">
            <label>Nueva Clave</label>
            <InputText type="text" class="w-full input" v-model="newPassword" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <Button label="Asignar Clave" @click="updatePasswordProcess" class="btn btn-success w-full my-4" />
        </div>
    </Dialog>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});
import Dialog from 'primevue/dialog';
const cambioPassword = ref({ name: null })
const router = useRouter();
const open = ref(false);
const openEdit = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const typeUser = ref(undefined);
const sucursalSelect = ref(true);
const sucursales = ref([]);
const users = ref([]);
const loading = ref(true);
const modalPassword = ref(false)
const newPassword = ref(null)
const user = ref({
    name: "",
    user: "",
    password: "",
    typeUser: "",
    puller: false,
    account_owner: false,
    profit_commission: "0",
    sucursal: null,
    dispatcher: false,
    remittances: false,
    shipments: false,
});
const userEdit = ref("");
const options = ref([
    {
        label: "SUPER ADMIN",
        value: "PSADMIN",
    },
    {
        label: "ADMINISTRADOR",
        value: "PADMIN",
    },
    {
        label: "OPERARIO",
        value: "POPERARIO",
    },
]);

const columns = [
    {
        title: "Nombre",
        dataIndex: "name",
        key: "name",
    },
    {
        title: "Usuario",
        dataIndex: "user",
        key: "user",
    },
    {
        title: "Porcentaje Jalador",
        dataIndex: "profit_commission",
        key: "profit_commission",
    },
    {
        title: "Tipo Usaurio",
        dataIndex: "typeUser",
        key: "typeUser",
    },
    {
        title: "",
        key: "action",
    },
];

const handleChange = (typeUser) => {
    if (typeUser == "PADMIN" || typeUser == "POPERARIO") {
        sucursalSelect.value = false;
    } else {
        sucursalSelect.value = true;
    }
    if (typeUser == "PREVISION") {
        user.value.account_owner = true;
    } else {
        user.value.account_owner = false;
    }
    user.value.typeUser = typeUser;
    user.value.sucursal = null;
};

const handleChangeEdit = (typeUser) => {
    if (
        userEdit.value.typeUser == "PADMIN" ||
        userEdit.value.typeUser == "POPERARIO"
    ) {
        sucursalSelect.value = false;
    } else {
        sucursalSelect.value = true;
    }
    if (userEdit.value.typeUser == "PREVISION") {
        userEdit.value.account_owner = true;
    } else {
        userEdit.value.account_owner = false;
    }
    user.value.sucursal = "";
};

const filterOption = (input, option) => {
    return (
        option.typeUser.value.toLowerCase().indexOf(input.toLowerCase()) >= 0
    );
};

const getSucursales = async () => {
    instanceWithToken.get('sucursals').then((result) => {
        sucursales.value = result.data.data
    })
};
getSucursales();

const getUsuario = async () => {
    instanceWithToken.get('users').then((result) => {
        users.value = result.data.data
        loading.value = false
    })
};
getUsuario();

const storeUsuario = async () => {
    message.info("Registrando Usuario");
    registrando.value = true;

    instanceWithToken.post('users', user.value).then((result) => {
        if (result.data.success) {
            message.success("Usuario Creado con exito");
            registrando.value = false;
            open.value = false;
        }
        else {
            message.error(result.data.message)
            registrando.value = false;
        }
        getUsuario()
    })
};

const updateUsuario = async () => {
    message.info("Actualizando Usuario");
    actualizando.value = true;

    console.info(userEdit.value)

    const excludedFields = ["createdAt", "updatedAt", "id", "status", "password", "token_puler", "token_owner", "token_dispatcher"];
    const filteredData = { ...userEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);

    instanceWithToken.patch("users/" + userEdit.value.id, filteredData).then((result) => {
        message.success("Usuario Editado con exito");
        actualizando.value = false;
        openEdit.value = false;
    }).catch((e) => {
        message.error("Usuario no actualizado");
        actualizando.value = false;
    })
};

const editar = (item) => {
    console.log(item)
    userEdit.value = item;
    userEdit.value.password = "";
    openEdit.value = true;
};

const accounts = (id) => {
    router.push("/usuarios/" + id + "/accounts");
};

const updatePassword = (data) => {
    modalPassword.value = true
    cambioPassword.value = data
}

const updatePasswordProcess = () => {
    let playload = {
        newPassword: newPassword.value,
        userId: cambioPassword.value.id
    }

    instanceWithToken.post('users/update-password', playload).then((result) => {
        modalPassword.value = false
        newPassword.value = null
        message.success("Clave actualizada con exito");
    })
}
</script>