<template>
  <a-card
    :title="`Usuario de la sucursal: ${sucursal.name}`"
    style="width: 100%"
  >
    <template #extra>
      <!-- <a-button @click="open = true" type="primary" block
        ><UserAddOutlined /> Agregar Nuevo Usuario</a-button
      > -->
    </template>
  </a-card>
  <a-table
    style="margin-top: 0.5rem"
    :columns="columns"
    :row-key="(record) => record.id"
    :data-source="users"
    :loading="loading"
  >
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'typeUser'">
        <a-tag v-if="record.typeUser == 'PSADMIN'" color="green"
          >Super Administrador</a-tag
        >
        <a-tag v-else color="red">Inactiva</a-tag>
      </template>

      <template v-if="column.key === 'action'">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClick">
              <a-menu-item @click="editar(record)" key="1">
                <EditOutlined />
                Editar
              </a-menu-item>
              <a-menu-item @click="usuarios(record.id)" key="2">
                <UserOutlined />
                Ver Usuarios
              </a-menu-item>
            </a-menu>
          </template>
          <a-button>
            Acciones
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </template>
    </template>
  </a-table>
</template>

<script setup>
definePageMeta({
  layout: "admin",
});
const route = useRoute();
const users = ref([]);
const sucursal = ref("");
const columns = [
  {
    title: "Nombre",
    dataIndex: "name",
    key: "name",
  },
  {
    title: "Usuario",
    dataIndex: "user",
    key: "user",
  },
  {
    title: "",
    key: "action",
  },
];

const getUsersSucursales = async () => {
  const { data, error, fetchData } = useHttpGetWithBearer(
    "sucursals/" + route.params.id
  );
  await fetchData();
  users.value = data.value.data.users;
  sucursal.value = data.value.data;
};

getUsersSucursales();
</script>

<style>
</style>