<template>
    <a-row :gutter="[8, 12]">
        <a-col :span="12">
            <a-switch
                v-model:checked="guiaStore.seguro"
                checked-children="Paquete con Seguro"
                un-checked-children="Paquete Sin Seguro"
            />
        </a-col>
        <a-col :span="12">
            <a-input-number
                v-model:value="guiaStore.montoSeguro"
                :disabled="!guiaStore.seguro"
                addon-after="$"
                width="100%"
            />
        </a-col>

        <a-col :span="12">
            <a-switch
                v-model:checked="guiaStore.delivery"
                checked-children="Paquete con Delivery"
                un-checked-children="Paquete Sin Delivery"
            />
        </a-col>
        <a-col :span="12">
            <a-input-number
                v-model:value="guiaStore.montoDelivery"
                :disabled="!guiaStore.delivery"
                addon-after="$"
                width="100%"
            />
        </a-col>

        <a-col :span="12">
            <a-switch
                v-model:checked="guiaStore.paquete"
                checked-children="Paquete con Empaque Especial"
                un-checked-children="Paquete Sin Empaque Especial"
            />
        </a-col>
        <a-col :span="12">
            <a-select
                v-model:value="paqueteId"
                :disabled="!guiaStore.paquete"
                :options="paquetes"
                style="width: 100%"
                @change="asignar()"
            ></a-select>
        </a-col>
    </a-row>
</template>

<script setup>
const guiaStore = useGuiaStore();
const paqueteId = ref("");
const paquetesOriginales = ref([]);
const paquetes = ref([]);

const getPaquetes = async () => {
    const {
        data: result,
        error,
        fetchData,
    } = useSurAmericaGet("empaquetado/byEmpresa/11");
    await fetchData();
    paquetesOriginales.value = result.value.data;
    result.value.data.forEach((paquete) => {
        paquetes.value.push({
            value: paquete.id,
            label:
                paquete.paquete +
                " ( " +
                paquete.precio +
                " " +
                paquete.divisa +
                " ) ",
        });
    });

};
getPaquetes();

const asignar = () => {
    const dato = paquetesOriginales.value.filter(
        (paquete) => paquete.id == paqueteId.value,
    );

    guiaStore.paqueteNombre = dato[0].paquete;
    guiaStore.paquetePrecio = dato[0].precio;
};
</script>

<style></style>
