<template>
  <a-row :gutter="[8, 12]">
    <a-col :span="24"><a-progress :percent="monto" status="active" /></a-col>
    <a-col :span="24">
      <a-alert v-if="error === true" message="Monto Excedido"
        description="Has excedido los 100USD permitidos en el valor FOB recuerda que el valor fob es la suma de todos los precios calculados por sus respectivas cantidades."
        type="error" show-icon />
    </a-col>
    <a-col :span="6">
      <a-input v-model:value="articulo.nombre" placeholder="Nombre" />
    </a-col>

    <a-col :span="6">
      <a-input v-model:value="articulo.precio" placeholder="Precio" />
    </a-col>

    <a-col :span="6">
      <a-input v-model:value="articulo.cantidad" placeholder="Cantidad" />
    </a-col>
    <a-col :span="6">
      <a-button type="primary" @click="add()" block>Agregar</a-button>
    </a-col>

    <a-col :span="24">
      <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id"
        :data-source="guiaStore.articulos">
        <template #bodyCell="{ column, record }">
          <template v-if="column.key === 'nombre'">
            {{ record.nombre }}
          </template>
          <template v-if="column.key === 'action'">
            <a-button :key="record.nombre" @click="eliminar(record.nombre)"> Eliminar </a-button>
          </template>
        </template>
      </a-table>
    </a-col>
  </a-row>
</template>

<script setup>
const guiaStore = useGuiaStore();
const error = ref(false)
const monto = ref(0)
const articulo = ref({
  nombre: "",
  precio: "",
  cantidad: "",
});

const add = () => {
  guiaStore.articulos.push(articulo.value);
  error.value = false
  articulo.value = {
    nombre: "",
    cantidad: "",
    precio: "",
  };

  monto.value = 0
  guiaStore.articulos.map((articulo) => {
    monto.value = monto.value + parseInt(articulo.precio * articulo.cantidad)
  })

  if (monto.value > 99) {
    error.value = true
  }

  console.log(monto.value)
};

const columns = [
  {
    title: "Articulo",
    dataIndex: "nombre",
    key: "nombre",
  },
  {
    title: "Precio",
    dataIndex: "precio",
    key: "precio",
  },
  {
    title: "Cantidad",
    dataIndex: "cantidad",
    key: "cantidad",
  },
  {
    title: "",
    key: "action",
  },
];

const eliminar = (item) => {
  error.value = false
  const data = guiaStore.articulos.filter(
    (articulo) => articulo.nombre !== item
  );
  
  guiaStore.articulos = data;

  monto.value = 0
  guiaStore.articulos.map((articulo) => {
    monto.value = monto.value + parseInt(articulo.precio * articulo.cantidad)
  })

  if (monto.value > 99) {
    error.value = true
  }

  console.log(monto.value)
};

const validar = () => {
  monto.value = 0
  guiaStore.articulos.map((articulo) => {
    monto.value = parseInt(monto.value) + parseInt(articulo.precio * articulo.cantidad)
  })

  if (monto.value > 99) {
    error.value = true
  }

  console.log(monto.value)
}
</script>