<template>
    <a-row :gutter="[8, 12]">
        <a-col :span="6">
            <a-input
                v-model:value="destinatario.documento"
                placeholder="Numero de Documento"
            ></a-input>
        </a-col>
        <a-col :span="6">
            <a-button
                type="primary"
                block
                @click="consultar()"
                :loading="consultando"
                >Consultar</a-button
            >
        </a-col>
        <a-col :span="12">
            <a-select
                v-model:value="destinatario.tipoDocumento"
                style="width: 100%"
                :options="opciones"
                placeholder="Tipo de Documento"
                :disabled="noExiste"
            ></a-select>
        </a-col>
        <a-col :span="12">
            <a-input
                :disabled="noExiste"
                v-model:value="destinatario.nombre"
                placeholder="Nombre"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                :disabled="noExiste"
                v-model:value="destinatario.apellido"
                placeholder="Apellido"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                v-model:value="destinatario.telefono"
                placeholder="Telefono"
                :disabled="noExiste"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                v-model:value="destinatario.direccion"
                placeholder="Direccion"
                :disabled="noExiste"
            ></a-input>
        </a-col>
        <a-col :span="8">
            <a-select
                v-model:value="destinatario.pais"
                style="width: 100%"
                :options="paises"
                placeholder="Pais"
                :disabled="noExiste"
            ></a-select>
        </a-col>
        <a-col :span="8">
            <a-input
                :disabled="noExiste"
                v-model:value="destinatario.ciudad"
                placeholder="Ciudad"
            ></a-input>
        </a-col>
        <a-col :span="8">
            <a-input
                :disabled="noExiste"
                v-model:value="destinatario.estado"
                placeholder="Estado"
            ></a-input>
        </a-col>
        <a-col v-if="!noExiste" :span="24">
            <a-button
                @loading="clienteNew"
                @click="storeCliente"
                block
                type="primary"
                >Guardar Destinatario</a-button
            >
        </a-col>
    </a-row>
</template>

<script lang="ts" setup>
const clienteNew = ref(false);
const destinatario = ref({
    documento: "",
    tipoDocumento: "",
    nombre: "",
    apellido: "",
    correo: "",
    telefono: "",
    ciudad: "",
    estado: "",
    pais: "",
    direccion: "",
});
const noExiste = ref(true);
const consultando = ref(false);
const opciones = ref([
    {
        label: "CEDULA",
        value: "CEDULA",
    },
    {
        label: "PASAPORTE",
        value: "PASAPORTE",
    },
    {
        label: "DNI",
        value: "DNI",
    },
    {
        label: "RUC",
        value: "RUC",
    },
    {
        label: "PTP",
        value: "PTP",
    },
    {
        label: "CARNET DE EXTRANJERIA",
        value: "CARNET DE EXTRANJERIA",
    },
]);

const paises = ref([
    {
        label: "Peru",
        value: "37",
    },
    {
        label: "Colombia",
        value: "58",
    },
    {
        label: "Chile",
        value: "80",
    },
    {
        label: "United States",
        value: "83",
    },
    {
        label: "Argentina",
        value: "198",
    },
    {
        label: "Venezuela",
        value: "231",
    },
    {
        label: "Ecuador",
        value: "236",
    },
]);

const guiaStore = useGuiaStore();
const adicionalesStore = useAdicionalStore();

if (adicionalesStore.dataDestinatario != null) {
    destinatario.value = adicionalesStore.dataDestinatario;
}

const consultar = async () => {
    consultando.value = true;
    message.info("Consultando Destinatario");
    const documento = destinatario.value.documento;
    const {
        data: result,
        error,
        fetchData,
    } = useSurAmericaGet("getDestinatario/" + documento);
    await fetchData();

    if (result.value.status) {
        destinatario.value = result.value.data;
        guiaStore.idDestinatario = destinatario.value.id;
        adicionalesStore.dataDestinatario = destinatario.value;
        message.info("Destinatario Obtenido con exito");
        noExiste.value = true;
    } else {
        message.info("Destinatario no existe, proceda a crearlo");
        noExiste.value = false;
        destinatario.value = {
            documento: documento,
            tipoDocumento: "",
            nombre: "",
            apellido: "",
            correo: "",
            telefono: "",
            ciudad: "",
            estado: "",
            pais: "",
            direccion: "",
            idEmpresa: 11,
            idCliente: guiaStore.idCliente,
        };
    }
    consultando.value = false;
};

const storeCliente = async () => {
    clienteNew.value = true;
    message.info("Registrando Destinatario");

    const {
        data: result,
        error,
        postData,
    } = useSurAmericaPost("storeDestinatario", destinatario.value);

    await postData();

    if (result.value) {
        destinatario.value = result.value.data;
        guiaStore.idDestinatario = result.value.data.id;
        adicionalesStore.dataDestinatario = result.value.data;
        message.success("Destinatario Registrado con exito");
        noExiste.value = true;
    }
};
</script>

<style></style>
