<template>
  <a-row :loading="cargando" :gutter="[8, 12]">
    <a-col :span="24">
      <a-switch
        v-model:checked="guiaStore.entregaPP"
        checked-children="Retiro En Courier"
        un-checked-children="Entrega Puerta a Puerta"
      />
    </a-col>
    <a-col v-if="guiaStore.entregaPP" :span="10">
      <a-select
        v-model:value="estado"
        :options="estados"
        style="width: 100%"
        placeholder="Estado"
        @change="filtrarCiudades()"
      ></a-select>
    </a-col>
    <a-col v-if="guiaStore.entregaPP" :span="10">
      <a-select
        v-model:value="ciudad"
        style="width: 100%"
        :options="ciudades"
        placeholder="Ciudad"
        @change="filtrarOficinas()"
      ></a-select>
    </a-col>
    <a-col v-if="guiaStore.entregaPP" :span="4">
      <a-button type="primary" block>Limpiar</a-button>
    </a-col>
  </a-row>
  <br />
  <a-row v-if="guiaStore.entregaPP" :gutter="[8, 12]">
    <a-col v-for="oficina in oficinas" :span="6">
      <a-card
        @click="guiaStore.idOficinaCourier = oficina.id"
        :title="oficina.estado"
        :class="{
          'oficina-seleccionada': guiaStore.idOficinaCourier === oficina.id,
        }"
      >
        <b>Codigo:</b> {{ oficina.CodOficina }} <br /><br />
        <b>Ciudad:</b> {{ oficina.ciudad }} <br /><br />
        <b>Direccion:</b> {{ oficina.direccion }} <br />
        <br />
        <b>Nombre:</b> {{ oficina.nombre }}
      </a-card>
    </a-col>
  </a-row>
</template>

<script setup>
const guiaStore = useGuiaStore();
const estado = ref("");
const estados = ref([]);
const ciudad = ref("");
const ciudadesOriginales = ref([]);
const ciudades = ref([]);
const oficinasOriginales = ref("");
const oficinas = ref("");
const cargando = ref(true);

const getCouriers = async () => {
  const { data: result, error, fetchData } = useSurAmericaGet("couriers");
  await fetchData();
  result.value.data.estados.forEach((estado) => {
    estados.value.push({
      label: estado.estado,
      value: estado.estado,
    });
  });

  ciudadesOriginales.value = result.value.data.ciudades;
  oficinasOriginales.value = result.value.data.oficinas;
  ciudades.value = ciudadesOriginales.value;
  oficinas.value = oficinasOriginales.value;
  cargando.value = false;
};

getCouriers();

const filtrarCiudades = () => {
  if (estado.value != "") {
    ciudades.value = [];
    ciudad.value = "";

    const newCiudades = ciudadesOriginales.value.filter(
      (ciudad) => estado.value == ciudad.estado
    );

    newCiudades.forEach((ciudad) => {
      ciudades.value.push({
        label: ciudad.ciudad,
        value: ciudad.ciudad,
      });
    });

    oficinas.value = oficinasOriginales.value.filter(
      (oficina) => estado.value == oficina.estado
    );
  }
};

const filtrarOficinas = () => {
  oficinas.value = oficinasOriginales.value.filter(
    (oficina) => ciudad.value == oficina.ciudad
  );
};
</script>

<style>
.oficina-seleccionada {
  background-color: #ffcccb; /* Cambia esto al color que desees */
}
</style>