<template>
    <a-row :gutter="[8, 12]">
        <a-col v-if="montoPendiente < 0" style="text-align: center" :span="24">
            <a-alert
                message="Tu saldo negativo del Monto Pendiente representa el vuelto del cliente por exceder el monto a pagar."
                type="error"
            />
        </a-col>
        <a-col style="text-align: center" :span="6">
            <label>Divisa</label><br />
            <a-radio-group
                v-model:value="guiaStore.divisa"
                @change="calcular()"
                size="large"
            >
                <a-radio-button value="USD">USD</a-radio-button>
                <a-radio-button value="PEN">PEN</a-radio-button>
            </a-radio-group>
        </a-col>
        <a-col style="text-align: center" :span="4">
            <label>Monto Abonado</label>
            <div style="font-size: 2rem; font-weight: 900">
                {{ montoAbonado }} {{ guiaStore.divisa }}
            </div>
        </a-col>
        <a-col style="text-align: center" :span="4">
            <label>Monto Pendiente</label>
            <div style="font-size: 2rem; font-weight: 900">
                {{ montoPendiente }} {{ guiaStore.divisa }}
            </div>
        </a-col>
        <a-col style="text-align: center" :span="4">
            <label>Monto Vuelto</label>
            <div style="font-size: 2rem; font-weight: 900">
                {{ montoVuelto }} {{ guiaStore.divisa }}
            </div>
        </a-col>
        <a-col style="text-align: center" :span="6">
            <label>Total</label>
            <div style="font-size: 2rem; font-weight: 900">
                {{ montoPagar }} {{ guiaStore.divisa }}
            </div>
        </a-col>
        <a-col :span="8">
            <a-select
                v-model:value="pago.tipoPago"
                :options="tiposPago"
                style="width: 100%"
                placeholder="Estado"
            ></a-select>
        </a-col>

        <a-col :span="8">
            <a-input v-model:value="pago.monto" placeholder="Precio" />
        </a-col>

        <a-col :span="8">
            <a-button type="primary" @click="add()" block>Agregar</a-button>
        </a-col>

        <a-col :span="24">
            <a-table
                style="margin-top: 1rem"
                :columns="columns"
                :row-key="(record) => record.id"
                :data-source="guiaStore.pagos"
            >
                <template #bodyCell="{ column, record }">
                    <template v-if="column.key === 'nombre'">
                        {{ record.nombre }}
                    </template>
                    <template v-if="column.key === 'action'">
                        <a-button
                            @click="eliminar(record.precio, record.tipoPago)"
                        >
                            Eliminar
                        </a-button>
                    </template>
                </template>
            </a-table>
        </a-col>
        <a-col v-if="terminar" :span="24">
            <a-button @click="generateGuia" block type="primary"
                >Generar Guia</a-button
            >
        </a-col>
    </a-row>
</template>

<script setup>
const guiaStore = useGuiaStore();
const userStore = useUserStore();
const terminar = ref(false);
const montoVuelto = ref(0);
const adicionalesStore = useAdicionalStore();
const pago = ref({
    tipoPago: "",
    monto: "",
});
const montoAbonado = ref(0);
const montoPendiente = ref(0);
const montoPagar = ref(0);
const router = useRouter();
import axios from "axios";
const add = () => {
    if (pago.value.tipoPago && pago.value.monto) {
        guiaStore.pagos.push(pago.value);
        pago.value = {
            tipoPago: "",
            monto: "",
        };
        calcular();
    } else {
        message.error("Debe seleccionar tipo y monto");
    }
};

const columns = [
    {
        title: "Tipo de Pago",
        dataIndex: "tipoPago",
        key: "tipoPago",
    },
    {
        title: "Monto",
        dataIndex: "monto",
        key: "monto",
    },
    {
        title: "",
        key: "action",
    },
];

const tiposPago = ref([
    {
        label: "EFECTIVO",
        value: "EFECTIVO",
    },
    {
        label: "TRANSFERENCIA",
        value: "TRANSFERENCIA",
    },
    {
        label: "YAPE",
        value: "YAPE",
    },
    {
        label: "PLIN",
        value: "PLIN",
    },
]);

const eliminar = (monto, tipoPago) => {
    const data = guiaStore.pagos.filter(
        (pago) => pago.monto !== monto && pago.tipoPago != tipoPago,
    );

    guiaStore.pagos = data;
    calcular();
};

const calcular = () => {
    let total = 0;
    // realiza el calculo del total
    if (adicionalesStore.dataTasa[0].tipoEnvio == "FIJO") {
        total = adicionalesStore.dataTasa[0].monto;
    } else {
        if (guiaStore.peso > guiaStore.pesoVolumetrico) {
            if (guiaStore.peso < 1) {
                total = 1 * adicionalesStore.dataTasa[0].monto;
            } else {
                total = guiaStore.peso * adicionalesStore.dataTasa[0].monto;
            }
        } else {
            if (guiaStore.pesoVolumetrico < 1) {
                total = 1 * adicionalesStore.dataTasa[0].monto;
            } else {
                total =
                    guiaStore.pesoVolumetrico *
                    adicionalesStore.dataTasa[0].monto;
            }
        }
    }

    // valida si hay adicionales y les suma
    if (guiaStore.seguro) {
        total = total + guiaStore.montoSeguro;
    }

    if (guiaStore.delivery) {
        total = total + guiaStore.montoDelivery;
    }

    if (guiaStore.paquete) {
        total = total + guiaStore.paquetePrecio;
    }
    // realiza la transformacion de usd a pen en caso corresponda

    if (guiaStore.divisa == "PEN") {
        total = total * 3.9;
    }
    montoPagar.value = total;
    // calcula cuanto se ha abonado
    const totalMonto = guiaStore.pagos.reduce((acumulador, elemento) => {
        const montoActual = parseFloat(elemento.monto);
        return acumulador + montoActual;
    }, 0);
    montoAbonado.value = totalMonto;

    // calcula cuanto falta pagar
    montoPendiente.value = total - montoAbonado.value;
    montoPendiente.value = montoPendiente.value.toFixed(2);

    if (montoPendiente.value < 0) {
        montoPendiente.value = 0;
        montoVuelto.value = montoAbonado.value - total;
        terminar.value = true;
    } else {
        terminar.value = false;
    }
    if (montoPendiente.value == 0) {
        terminar.value = true;
    }
    guiaStore.monto = total;
};

calcular();

const generateGuia = async () => {
    message.info("Conectando con el servicio");
    const { data: result, postData } = useLoginSurAmerica(
        userStore.shipments_user,
        userStore.shipments_password,
    );
    await postData();
    const token = result.value.data.token.plainTextToken;

    
    const data = {
        tipoGuia: guiaStore.tipoGuia,
        idCliente: guiaStore.idCliente,
        idDestinatario: guiaStore.idDestinatario,
        idTasa: guiaStore.idTasa,
        alto: guiaStore.alto,
        ancho: guiaStore.ancho,
        largo: guiaStore.largo,
        pesoVolumetrico: guiaStore.pesoVolumetrico,
        peso: guiaStore.peso,
        monto: guiaStore.monto,
        divisa: guiaStore.divisa,
        paisOrigen: guiaStore.paisOrigen,
        paisDestino: guiaStore.paisDestino,
        seguro: guiaStore.seguro,
        montoSeguro: guiaStore.montoSeguro,
        entregaPP: guiaStore.entregaPP,
        idOficinaCourier: guiaStore.idOficinaCourier,
        escaneada: guiaStore.escaneada,
        paquete: guiaStore.paquete,
        paqueteNombre: guiaStore.paqueteNombre,
        paquetePrecio: guiaStore.paquetePrecio,
        delivery: guiaStore.delivery,
        montoDelivery: guiaStore.montoDelivery,
        articulos: guiaStore.articulos,
        pagos: guiaStore.pagos,
        idEmpresa: 11,
    };

    axios
        .post(
            "https://apiapp.suramericacargo.com/api/integraciones/generar",
            data,
            {
                headers: {
                    Authorization: `Bearer ${token}`,
                    Accept: "application/json",
                },
            },
        )
        .then((result) => {
            router.push("/paqueteria/guia-generada/" + result.data.data.id);
        });
};
</script>

<style></style>
