<template>
  <a-row :gutter="[8, 12]">
    <a-col :span="24">
      <label>Tasa </label>
      <a-select
        v-model:value="guiaStore.idTasa"
        :options="tasas"
        style="width: 100%"
        placeholder="Tasa"
        @change="asignarData()"
      ></a-select>
    </a-col>
    <a-col :span="8">
      <label>Alto</label>
      <a-input v-model:value="guiaStore.alto" @change="calculo()"></a-input>
    </a-col>
    <a-col :span="8">
      <label>Ancho</label>
      <a-input v-model:value="guiaStore.ancho" @change="calculo()"></a-input>
    </a-col>
    <a-col :span="8">
      <label>Largo</label>
      <a-input v-model:value="guiaStore.largo" @change="calculo()"></a-input>
    </a-col>
    <a-col :span="12">
      <br />
      <div style="font-size: 2rem; font-weight: 900">
        Volumen: {{ guiaStore.pesoVolumetrico }} KG
      </div>
    </a-col>
    <a-col :span="12">
      <label>Peso Paquete</label>
      <a-input v-model:value="guiaStore.peso" size="large" />
    </a-col>
  </a-row>
</template>

<script setup>
const guiaStore = useGuiaStore();
const userStore = useUserStore();
const adicionalStore = useAdicionalStore();
const tasas = ref([]);
const tasasOriginales = ref([]);
const calculo = () => {
  if (guiaStore.ancho != 0 && guiaStore.largo != 0 && guiaStore.alto != 0) {
    guiaStore.pesoVolumetrico =
      (guiaStore.largo * guiaStore.ancho * guiaStore.alto) / 5000;
  }
};

// const obtenerToken = async () => {
//   const { data, error, postData } = await useLoginSurAmerica(
//     userStore.shipments_user,
//     userStore.shipments_password
//   );
//   await postData();
//   adicionalStore.token = data.value.data.token.plainTextToken;
// };

// obtenerToken();

const getTasas = async () => {
  const {
    data: result,
    error,
    fetchData,
  } = useSurAmericaGet("tasas/byEmpresa/11");
  await fetchData();
  tasasOriginales.value = result.value.data;
  result.value.data.forEach((tasa) => {
    tasas.value.push({
      value: tasa.id,
      label:
        tasa.tasa +
        " (" +
        tasa.monto +
        " " +
        tasa.divisa +
        ") (" +
        tasa.tipoPrecio +
        ")",
    });
  });
};
getTasas();

const asignarData = () => {
  const data = tasasOriginales.value.filter(
    (tasa) => tasa.id === guiaStore.idTasa
  );
  adicionalStore.dataTasa = data;
};
</script>

<style>
</style>