<template>
    <a-row :gutter="[8, 12]">
        <a-col :span="6">
            <a-input
                v-model:value="remitente.documento"
                placeholder="Numero de Documento"
            ></a-input>
        </a-col>
        <a-col :span="6">
            <a-button
                type="primary"
                block
                @click="consultar()"
                :loading="consultando"
                >Consultar</a-button
            >
        </a-col>
        <a-col :span="12">
            <a-select
                v-model:value="remitente.tipoDocumento"
                style="width: 100%"
                :options="opciones"
                placeholder="Tipo de Documento"
                :disabled="noExiste"
            ></a-select>
        </a-col>
        <a-col :span="12">
            <a-input
                :disabled="noExiste"
                v-model:value="remitente.nombre"
                placeholder="Nombre"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                :disabled="noExiste"
                v-model:value="remitente.apellido"
                placeholder="Apellido"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                :disabled="noExiste"
                v-model:value="remitente.correo"
                placeholder="Correo"
            ></a-input>
        </a-col>
        <a-col :span="12">
            <a-input
                v-model:value="remitente.telefono"
                placeholder="Telefono"
                :disabled="noExiste"
            ></a-input>
        </a-col>
        <a-col :span="8">
            <a-select
                v-model:value="remitente.pais"
                style="width: 100%"
                :options="paises"
                placeholder="Pais"
                :disabled="noExiste"
            ></a-select>
        </a-col>
        <a-col :span="8">
            <a-input
                :disabled="noExiste"
                v-model:value="remitente.ciudad"
                placeholder="Ciudad"
            ></a-input>
        </a-col>
        <a-col :span="8">
            <a-input
                :disabled="noExiste"
                v-model:value="remitente.estado"
                placeholder="Estado"
            ></a-input>
        </a-col>
        <a-col v-if="!noExiste" :span="24">
            <a-button
                @loading="clienteNew"
                @click="storeCliente"
                block
                type="primary"
                >Guardar Cliente</a-button
            >
        </a-col>
    </a-row>
</template>

<script setup>
const remitente = ref({
    documento: "",
    tipoDocumento: "",
    nombre: "",
    apellido: "",
    correo: "",
    telefono: "",
    ciudad: "",
    estado: "",
    pais: "",
    idEmpresa: 11,
});
const noExiste = ref(true);
const clienteNew = ref(false);
const consultando = ref(false);
const opciones = ref([
    {
        label: "CEDULA",
        value: "CEDULA",
    },
    {
        label: "PASAPORTE",
        value: "PASAPORTE",
    },
    {
        label: "DNI",
        value: "DNI",
    },
    {
        label: "RUC",
        value: "RUC",
    },
    {
        label: "PTP",
        value: "PTP",
    },
    {
        label: "CARNET DE EXTRANJERIA",
        value: "CARNET DE EXTRANJERIA",
    },
]);

const paises = ref([
    {
        label: "Peru",
        value: "37",
    },
    {
        label: "Colombia",
        value: "58",
    },
    {
        label: "Chile",
        value: "80",
    },
    {
        label: "United States",
        value: "83",
    },
    {
        label: "Argentina",
        value: "198",
    },
    {
        label: "Venezuela",
        value: "231",
    },
    {
        label: "Ecuador",
        value: "236",
    },
]);

const guiaStore = useGuiaStore();
const adicionalesStore = useAdicionalStore();

if (adicionalesStore.dataRemitente != null) {
    remitente.value = adicionalesStore.dataRemitente;
    adicionalesStore.dataDestinatariosClientes =
        adicionalesStore.dataRemitente.destinatarios;
}

const consultar = async () => {
    consultando.value = true;
    message.info("Consultando Cliente");
    const documento = remitente.value.documento;
    const {
        data: result,
        error,
        fetchData,
    } = useSurAmericaGet("getCliente/" + documento);
    await fetchData();

    if (result.value.status) {
        remitente.value = result.value.data;
        guiaStore.idCliente = remitente.value.id;
        adicionalesStore.dataRemitente = remitente.value;
        adicionalesStore.dataDestinatariosClientes =
            adicionalesStore.dataRemitente.destinatarios;
        message.info("Cliente Obtenido con exito");
        noExiste.value = true;
    } else {
        message.info("Cliente no existe, proceda a crearlo");
        noExiste.value = false;
        adicionalesStore.dataRemitente = null;
        adicionalesStore.dataDestinatariosClientes = null;
        remitente.value = {
            documento: documento,
            tipoDocumento: "",
            nombre: "",
            apellido: "",
            correo: "",
            telefono: "",
            ciudad: "",
            estado: "",
            pais: "",
            idEmpresa: 11,
        };
    }
    consultando.value = false;
};

const storeCliente = async () => {
    message.info("Registrando Cliente");
    clienteNew.value = true;

    const {
        data: result,
        error,
        postData,
    } = useSurAmericaPost("storeCliente", remitente.value);

    await postData();
    if (result.value) {
        remitente.value = result.value.data;
        guiaStore.idCliente = result.value.data.id;
        adicionalesStore.dataRemitente = result.value.data;
        message.success("Cliente Registrado con exito");
        noExiste.value = true;
    }
};
</script>

<style></style>
