<template>
  <a-row :gutter="[8, 24]">
    <a-col style="text-align: center" :span="24">
      <a-radio-group v-model:value="guiaStore.tipoGuia" size="large">
        <a-radio-button value="AEREO">AEREO</a-radio-button>
        <a-radio-button value="MARITIMO">MARITIMO</a-radio-button>
        <a-radio-button value="TERRESTRE">TERRESTRE</a-radio-button>
      </a-radio-group>
    </a-col>
    <a-col :span="24">
      <a-select
        v-model:value="guiaStore.paisOrigen"
        size="large"
        style="width: 100%"
        :options="opciones"
        placeholder="Pais Origen"
      ></a-select>
    </a-col>
    <a-col :span="24">
      <a-select
        v-model:value="guiaStore.paisDestino"
        size="large"
        style="width: 100%"
        :options="opciones"
        placeholder="Pais Destino"
      ></a-select>
    </a-col>
  </a-row>
</template>

<script lang="ts" setup>
const guiaStore = useGuiaStore();

const opciones = ref([
  {
    label: "Peru",
    value: "Peru",
  },
  {
    label: "Colombia",
    value: "Colombia",
  },
  {
    label: "Chile",
    value: "Chile",
  },
  {
    label: "United States",
    value: "United States",
  },
  {
    label: "Argentina",
    value: "Argentina",
  },
  {
    label: "Venezuela",
    value: "Venezuela",
  },
  {
    label: "Ecuador",
    value: "Ecuador",
  },
]);
</script>

<style>
</style>