<template>
    <Toast />
    <ConfirmDialog></ConfirmDialog>
    <Card>
        <template #title>
            <div class="flex flex-row justify-between">
                <div>Transacciones En Cola</div>
                <div>
                    <!-- <SelectButton v-model="value" :options="options" aria-labelledby="basic" /> -->
                </div>
            </div>
        </template>
        <template #content>
            <DataTable v-model:filters="filters" stripedRows paginator :rows="7" :rowsPerPageOptions="[7, 10, 20, 50]"
                :value="colas" tableStyle="min-width: 50rem" :globalFilterFields="['transaction.reference']"
                :globalFilter="globalFilter">

                <template #header>
                    <div class="flex justify-end">
                        <InputText v-model="filters['global'].value" class="input w-[25%]" placeholder="Referencia de Transaccion" />
                    </div>
                </template>
                <Column field="transaction.reference" header="Referencia" />
                <Column field="dispatcher.name" header="Despachador" />
                <Column field="name" header="Estado">
                    <template #body="props">
                        <Tag v-if="props.data.status == 'CREADA'" :value="props.data.status"></Tag>
                        <Tag v-if="props.data.status == 'ACEPTADA'" :value="props.data.status" severity="warning"></Tag>
                        <Tag v-if="props.data.status == 'OBSERVADA'" :value="props.data.status" severity="info"></Tag>
                        <Tag v-if="props.data.status == 'COMPLETADA'" :value="props.data.status" severity="danger">
                        </Tag>
                        <Tag v-if="props.data.status == 'RECHAZADA'" :value="props.data.status" severity="contrast">
                        </Tag>
                    </template>
                </Column>
                <Column field="category" header="Monto Enviado">
                    <template #body="props">
                        {{ props.data.transaction.amountSend }} {{ props.data.transaction.currencySend }}
                    </template>
                </Column>
                <Column field="quantity" header="Monto Recibido">
                    <template #body="props">
                        {{ props.data.transaction.amountReceived }} {{ props.data.transaction.currencyReceived }}
                    </template>
                </Column>
                <Column field="" header="">
                    <template #body="props">
                        <Button icon="pi pi-arrow-right-arrow-left" @click="transferir(props.id, props)"
                            aria-label="Editar" />
                    </template>
                </Column>
            </DataTable>
        </template>
    </Card>

    <Dialog v-model:visible="modalTransferir" modal header="Transferir Transaccion" class="w-[90%] md:w-[45%]">
        <label class="text-2xl">Pais Destino Transaccion: {{ dataTransfer }}</label>
        <Card v-for="(dispatcher, index) in dispatchers" :key="index" class="mb-5 bg-gray-100 shadow-xl cursor-pointer"
            @click="asignar(dispatcher.name, dispatcher.id)">
            <template #title>
                {{ dispatcher.name }} ({{ dispatcher.user }})
            </template>
            <template #content>
                <label class="text-sm">Wallets de Envio Disponibles</label>
                <div class="flex flex-row">
                    <div v-for="(option, index) in dispatcher.wallets" :key="index">
                        <Tag :value="option.countrie.name" :key="index" :severity="getRandomSeverity()" :rounded="true"
                            class="mr-3" />
                    </div>
                </div>
            </template>

        </Card>
    </Dialog>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});
import { useToast } from "primevue/usetoast";
const toast = useToast();
import Card from 'primevue/card';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Tag from 'primevue/tag';
import Dialog from 'primevue/dialog';
import { useConfirm } from "primevue/useconfirm";
import { FilterMatchMode } from 'primevue/api';


const confirm = useConfirm();
const globalFilter = ref(null)
const colas = ref([])
const dispatchers = ref([])

const getColas = () => {
    instanceWithToken.get('queues').then((result) => {
        colas.value = result.data.data
    })

    instanceWithToken.get('users/dispatcher-with-wallets').then((result) => {
        dispatchers.value = result.data.data
    })
}

getColas()

const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
});

const idTransferir = ref(null)
const dataTransfer = ref(null)
const referenceTransferir = ref(null)
const modalTransferir = ref(false)
const transferir = (value, data) => {
    dataTransfer.value = data.data.transaction.destination.name
    referenceTransferir.value = data.data.transaction.reference
    idTransferir.value = data.data.id
    modalTransferir.value = true
}

const asignar = (user, idDispatcherNew) => {
    confirm.require({
        message: 'Deseas Realmente transferir la transaccion ' + referenceTransferir.value + ' al usuario ' + user + '?',
        header: 'Confirme la Transferencia',
        icon: 'pi pi-exclamation-triangle',
        rejectClass: 'btn btn-danger',
        rejectLabel: 'No',
        acceptClass: 'btn btn-success',
        acceptLabel: 'Si',
        accept: () => {
            transfer(idDispatcherNew)
        },
        reject: () => {
            toast.add({ severity: 'error', summary: 'Cancelado', detail: 'No se ha realizado ninguna transferencia', life: 3000 });
        }
    });
}

const getRandomSeverity = () => {
    const severities = [
        "primary",
        "secondary",
        "success",
        "info",
        "warning",
        "danger",
        "contrast"
    ];
    const randomIndex = Math.floor(Math.random() * severities.length);
    return severities[randomIndex];
}

const transfer = (idDispatcherNew) => {
    console.log(idTransferir.value)
    const playload = {
        idQueue: idTransferir.value,
        idDispatcher: idDispatcherNew
    }

    instanceWithToken.patch('queues', playload).then((result) => {
        toast.add({ severity: 'success', summary: 'Transferido', detail: 'La transaccion se ha transferido exitosamente', life: 3000 });
        modalTransferir.value = false
    }).catch((e) => console.log(e))
}
</script>