<template>
    <Card>
        <template #title>
            <div class="flex flex-row justify-between">
                <div>Transacciones</div>
                <div>
                    <SelectButton v-model="status" :options="options" aria-labelledby="basic" />
                </div>
            </div>
        </template>
        <template #content>
            <DataTable stripedRows paginator :rows="7" :rowsPerPageOptions="[7, 10, 20, 50]" :value="transactions"
                tableStyle="min-width: 50rem">
                <Column field="reference" header="Referencia" />
                <Column field="name" header="Estado">
                    <template #body="props">
                        <Tag v-if="props.data.status == 'CREADA'" :value="props.data.status"></Tag>
                        <Tag v-if="props.data.status == 'ACEPTADA'" :value="props.data.status" severity="warning"></Tag>
                        <Tag v-if="props.data.status == 'OBSERVADA'" :value="props.data.status" severity="info"></Tag>
                        <Tag v-if="props.data.status == 'COMPLETADA'" :value="props.data.status" severity="danger">
                        </Tag>
                        <Tag v-if="props.data.status == 'RECHAZADA'" :value="props.data.status" severity="contrast">
                        </Tag>
                    </template>
                </Column>
                <Column field="category" header="Monto Enviado">
                    <template #body="props">
                        {{ props.data.amountSend }} {{ props.data.currencySend }}
                    </template>
                </Column>
                <Column field="quantity" header="Monto Recibido">
                    <template #body="props">
                        {{ props.data.amountReceived }} {{ props.data.currencyReceived }}
                    </template>
                </Column>
                <Column field="" header="">
                    <template #body="props">
                        <Button icon="pi pi-eye" @click="editar(props.id)" aria-label="Editar" />
                    </template>
                </Column>
            </DataTable>
        </template>
    </Card>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});
import Card from 'primevue/card';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';
import SelectButton from 'primevue/selectbutton';
import Tag from 'primevue/tag';
import { watch } from 'vue'

const transactions = ref([])
const status = ref(null);
const options = ref(['COMPLETADA', 'CREADA', 'OBSERVADA', 'RECHAZADA']);

const getTransactions = () => {
    instanceWithToken.get('transactions').then((result) => {
        transactions.value = result.data.data
    })
}

getTransactions()

watch(status, () => {
    if (status.value != null) {
        instanceWithToken.get('transactions?status=' + status.value).then((result) => {
            transactions.value = result.data.data
        })
    }
    else {
        getTransactions()
    }
})
</script>