<template>
    <a-row :gutter="[8, 24]">
        <a-col :span="24">
            <a-card v-if="page == 0" title="Tipo de Envio, Origen y Destino">
                <Tipo />
                <a-col style="text-align: right">
                    <br />
                    <a-button
                        v-if="
                            guiaStore.tipoGuia &&
                            guiaStore.paisDestino &&
                            guiaStore.paisOrigen &&
                            page == 0
                        "
                        @click="next(1)"
                        type="primary"
                        >Registrar Cliente</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Registro de Quien envia" v-if="page == 1">
                <Remitente style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 1" @click="next(0)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="guiaStore.idCliente && page == 1"
                        @click="next(2)"
                        type="primary"
                        >Registrar Destinatario</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Registro de Quien Recibe" v-if="page == 2">
                <Destinatario style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 2" @click="next(1)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="guiaStore.idDestinatario && page == 2"
                        @click="next(3)"
                        type="primary"
                        >Registrar Entrega</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Informacion de Entrega" v-if="page == 3">
                <Entrega style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 3" @click="next(2)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="guiaStore.idOficinaCourier && page == 3"
                        @click="next(4)"
                        type="primary"
                        >Registrar Paquete</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Informacion del Paquete" v-if="page == 4">
                <Paquete style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 4" @click="next(3)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="
                            guiaStore.alto != 0 &&
                            guiaStore.ancho != 0 &&
                            guiaStore.largo != 0 &&
                            guiaStore.idTasa &&
                            page == 4
                        "
                        @click="next(5)"
                        type="primary"
                        >Registrar Adicionales</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Adicionales" v-if="page == 5">
                <Adicionales style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 5" @click="next(5)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="
                            guiaStore.alto != 0 &&
                            guiaStore.ancho != 0 &&
                            guiaStore.largo != 0 &&
                            guiaStore.idTasa &&
                            page == 5
                        "
                        @click="next(6)"
                        type="primary"
                        >Registrar Articulos</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Articulos" v-if="page == 6">
                <Articulos style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 6" @click="next(5)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="guiaStore.articulos.length > 0 && page == 6"
                        @click="next(7)"
                        type="primary"
                        >Registrar Pagos</a-button
                    >
                </a-col>
            </a-card>

            <a-card title="Pagos" v-if="page == 7">
                <Pagos style="margin-bottom: 1rem" />
                <a-col style="text-align: right">
                    <a-button v-if="page == 7" @click="next(6)" type="success"
                        >Regresar</a-button
                    >

                    <a-button
                        v-if="guiaStore.pagos.length > 0 && page == 67"
                        @click="streGuia"
                        type="primary"
                        >Finalizar</a-button
                    >
                </a-col>
            </a-card>
        </a-col>
    </a-row>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

import Tipo from "@/pages/paqueteria/components/Tipo";
import Remitente from "@/pages/paqueteria/components/Remitente";
import Destinatario from "@/pages/paqueteria/components/Destinatario";
import Entrega from "@/pages/paqueteria/components/Entrega";
import Paquete from "@/pages/paqueteria/components/Paquete";
import Adicionales from "@/pages/paqueteria/components/Adicionales";
import Articulos from "@/pages/paqueteria/components/Articulos";
import Pagos from "@/pages/paqueteria/components/Pagos";

const page = ref(0);
const guiaStore = useGuiaStore();
const adicionalesStore = useAdicionalStore();
guiaStore.$reset();
adicionalesStore.$reset();
const next = (id) => {
    page.value = id;
};
</script>
