<template>

    <a-card title="Crear Manifieto">
        <template #extra>
            <a-select class="w-[15rem]" v-model:value="tipoGuia" :options="tipos" @change="getGuias" />
        </template>


        <a-row :gutter="[8, 12]">
            <a-col v-if="tipoGuia !== null" :xs="24" :sm="24" :md="24">
                <a-button type="primary" class="w-[100%] bg-green-900" @click="generar">Generar</a-button>
            </a-col>
            <a-col v-for="(guia, index) in guias" :key="index" :xs="24" :sm="24" :md="6">
                <a-card class="flex flex-col">
                    <div class="text-center">
                        <span class="text-2xl font-bold">{{ guia.id }}</span>
                    </div>
                    <div class="text-center">
                        <a-switch v-model:checked="guia.status" />
                    </div>
                </a-card>
            </a-col>
        </a-row>
    </a-card>

</template>

<script setup>
import axios from 'axios'
definePageMeta({
    layout: "admin",
});
const userStore = useUserStore();
const tipoGuia = ref(null)
const token = ref(null)
const guias = ref([])
const router = useRouter();
const tipos = ref([
    { label: 'AEREO', value: 'AEREO' },
    { label: 'TERRESTRE', value: 'TERRESTRE' },
    { label: 'MARITIMO', value: 'MARITIMO' },
])

const getGuias = async () => {
    const { data: result, postData } = useLoginSurAmerica(
        userStore.shipments_user,
        userStore.shipments_password,
    );
    await postData();
    token.value = result.value.data.token.plainTextToken;

    axios
        .get(
            "https://apiapp.suramericacargo.com/api/guias/sin-manifiestos/" + tipoGuia.value,
            {
                headers: {
                    Authorization: `Bearer ${token.value}`,
                    Accept: "application/json",
                },
            },
        )
        .then((result) => {
            console.log(result.data.data)
            guias.value = result.data.data
        });
}

const generar = () => {
    const playload =
        { tipoGuia: tipoGuia.value, guias: guias.value }

    axios
        .post(
            "https://apiapp.suramericacargo.com/api/integradores/manifiestos",
            playload,
            {
                headers: {
                    Authorization: `Bearer ${token.value}`,
                    Accept: "application/json",
                },
            },
        )
        .then((result) => {
            message.success("Manifiesto creado con exito")
            router.push('/paqueteria/manifiestos')
        });
}
</script>