<template>

  <a-card title="Guias de la Oficina">

    <template #extra>
      <a-range-picker v-model:value="fechas" @change="filtradas()" />
    </template>

    {{manifiestos}}
    <a-row :gutter="[8, 12]">
      <a-col v-for="(guia, index) in guias" :key="index" :xs="24" :sm="24" :md="6">
        <a-card class="flex flex-col">
          <div class="text-center">
            <span class="text-2xl font-bold">{{ guia.sucursal.codigo }}-{{ guia.id }}</span>
          </div>

          <span class="font-bold text-left">Origen: </span> <br>
          {{ guia.paisOrigen }} <br>
          <span class="font-bold text-left">Remitente: </span> <br>
          {{ guia.remitente.nombre }} {{ guia.remitente.apellido }} <br>
          <span class="font-bold text-left">Destino: </span> <br>
          {{ guia.paisDestino }} <br>
          <span class="font-bold text-left">Destinatario: </span> <br>
          {{ guia.destinatario.nombre }} {{ guia.destinatario.apellido }} <br>

          <div class="text-center">
            <span class="text-3xl font-bold ml-3 text-red-900">
              <FilePdfOutlined @click="guiaPDF(guia.id)" />
            </span>
            <span class="text-3xl font-bold ml-3 text-green-900">
              <BarcodeOutlined @click="etiquetaPDF(guia.id)" />
            </span>
            <span class="text-3xl font-bold ml-3 text-yellow-900">
              <DiffOutlined @click="ticketPDF(guia.id)" />
            </span>
          </div>
        </a-card>
      </a-col>
    </a-row>
  </a-card>

</template>

<script setup>
import axios from 'axios';
const fechas = ref([]);
definePageMeta({
  layout: "admin",
});

const adicionalStore = useAdicionalStore()
const router = useRouter()
const guias = ref([])
const userStore = useUserStore();
const getGuias = async () => {
  const { data: result, postData } = useLoginSurAmerica(
    userStore.shipments_user,
    userStore.shipments_password,
  );
  await postData();
  const token = result.value.data.token.plainTextToken;

  axios
    .get(
      "https://apiapp.suramericacargo.com/api/guias",
      {
        headers: {
          Authorization: `Bearer ${token}`,
          Accept: "application/json",
        },
      },
    )
    .then((result) => {
      guias.value = result.data.data.data
    });
}

getGuias()

const filtradas = async () => {
  console.log(fechas.value.start)
  const playload = {
    fechas: fechas.value
  }

  const { data: result, postData } = useLoginSurAmerica(
    userStore.shipments_user,
    userStore.shipments_password,
  );
  await postData();
  const token = result.value.data.token.plainTextToken;


  axios
    .post(
      "https://apiapp.suramericacargo.com/api/guias/fechas",
      playload,
      {
        headers: {
          Authorization: `Bearer ${token}`,
          Accept: "application/json",
        },
      },
    )
    .then((result) => {
      console.log(result.data.data.data)
      guias.value = result.data.data.data
    });
}


const guiaPDF = (value) => {
    adicionalStore.linkPdf = 'https://apiapp.suramericacargo.com/api/pdfs/generar/guia/'+value
    router.push('/documents/view')
}

const etiquetaPDF = (value) => {
    adicionalStore.linkPdf = 'https://apiapp.suramericacargo.com/api/pdfs/generar/etiqueta/'+value
    router.push('/documents/view')
}

const ticketPDF = (value) => {
    adicionalStore.linkPdf = 'https://apiapp.suramericacargo.com/api/pdfs/generar/ticket/'+value
    router.push('/documents/view')
}
</script>