<template>
  <a-card title="Manifiestos">
    <template #extra>
      <a-button @click="() => { router.push('/paqueteria/generar-manifiesto') }">Agregar</a-button>
    </template>

    <a-row :gutter="[8, 12]">
      <a-col v-for="(manifiesto, index) in manifiestos" :key="index" :xs="24" :sm="24" :md="6">
        <a-card class="flex flex-col">
          <div class="text-center">
            <span class="text-2xl font-bold">{{ manifiesto.id }}</span>
          </div>
          <div class="justify-between flex flex-row">
            <div>Guias</div>
            <div class="bg-green-900 text-white px-3 py-1 font-bold rounded-full">{{ manifiesto.guias_count }}</div>
          </div>
          <div class="text-center">
            <span class="text-3xl font-bold ml-3 text-red-900">
              <FilePdfOutlined @click="manifiestoPdf(manifiesto.id)" />
            </span>
          </div>
        </a-card>
      </a-col>
    </a-row>
  </a-card> 

</template>

<script setup>
import axios from 'axios'
const router = useRouter();
definePageMeta({
  layout: "admin",
});

const userStore = useUserStore();
const adicionalStore = useAdicionalStore()
const manifiestos = ref([])
const getManifiestos = async () => {
  const { data: result, postData } = useLoginSurAmerica(
    userStore.shipments_user,
    userStore.shipments_password,
  );
  await postData();
  const token = result.value.data.token.plainTextToken;

  axios
    .get(
      "https://apiapp.suramericacargo.com/api/manifiestos",
      {
        headers: {
          Authorization: `Bearer ${token}`,
          Accept: "application/json",
        },
      },
    )
    .then((result) => {
      manifiestos.value = result.data.data
    });
}

getManifiestos()

const manifiestoPdf = (value) => {
    adicionalStore.linkPdf = 'https://apiapp.suramericacargo.com/api/pdfs/generar/manifiesto/'+value
    router.push('/documents/view')
}
</script>