<template>
    <a-card title="Cuentas del Pais" style="width: 100%"> </a-card>

    <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="accounts"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'type_currency'">
                <a-tag v-if="record.type_currency == 'CRIPTO'" color="green">CRIPTO</a-tag>
                <a-tag v-else color="warning">FIAT</a-tag>
            </template>

            <template v-if="column.key === 'countrie'">
                <span v-if="record.countrie != null">
                    {{ record.countrie.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'bank'">
                <span v-if="record.bank != null">
                    {{ record.bank.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'action'">
                <a-switch v-model:checked="record.status" />
                <DeleteFilled style="color: red; font-size: 1.5rem; margin-left: 1rem;" />
            </template>
        </template>
    </a-table>
</template>
<script setup>
import { DeleteFilled } from '@ant-design/icons-vue';
definePageMeta({
    layout: "admin",
});
const paises = ref([]);
const banks = ref([]);
const open = ref(false);
const openEdit = ref(false);
const loading = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const route = useRoute();
const accounts = ref([]);
const accountEdit = ref("");
const account = ref({
    number: "",
    document: "",
    email: "",
    type_account: "",
    type_currency: "",
    commision: false,
    profit_commission: "0.0",
    user: parseInt(route.params.id),
    countrie: null,
    message: "",
});

const columns = [
    {
        title: "Tipo de Moneda",
        dataIndex: "type_currency",
        key: "type_currency",
    },
    {
        title: "Pais",
        dataIndex: "countrie",
        key: "countrie",
    },
    {
        title: "Banco",
        dataIndex: "bank",
        key: "bank",
    },
    {
        title: "Numero",
        dataIndex: "number",
        key: "number",
    },
    {
        title: "",
        key: "action",
    },
];

const typeAccounts = ref([
    { label: "ENVIO", value: "ENVIO" },
    { label: "RECEPCION", value: "RECEPCION" },
]);

const typeCurrency = ref([
    { label: "CRIPTO", value: "CRIPTO" },
    { label: "FIAT", value: "FIAT" },
]);

const getPaises = async () => {
    instanceWithToken.get('countries').then((result) => {
        result.value.data.forEach((item) => {
            paises.value.push({
                value: item.id,
                label: item.name,
            });
        });
        loading.value = false;
    })
};
getPaises();


const updateAccount = async () => {
    message.info("Actualizando Usuario");
    actualizando.value = true;

    const excludedFields = ["createdAt", "updatedAt", "amount", "id"];
    const filteredData = { ...accountEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);
    const { data, error, patchData } = useHttpPatchWithBearer(
        "accounts/" + accountEdit.value.id,
        filteredData,
    );

    await patchData();
    if (!data.value) {
        message.success("Cuenta Actualizada con exito");
        actualizando.value = false;
        openEdit.value = false;
        getAccounts();
    }
};

const getAccounts = async () => {
    const {
        data: result,
        error,
        fetchData,
    } = useHttpGetWithBearer("accounts/byCountrie/" + route.params.id);

    await fetchData();

    if (!error.value) {
        accounts.value = result.value.data.accounts;
        loading.value = false;
    }
};

getAccounts();

const editar = (item) => {
    openEdit.value = true;
    accountEdit.value = item;
};
</script>
