<template>
  <a-card :title="`Bancos de : ${sucursal.name}`" style="width: 100%">
    <template #extra>
      <a-button @click="open = true" type="primary" block
        ><BankFilled /> Agregar Nuevo Banco</a-button
      >
    </template>
  </a-card>
  <a-table
    style="margin-top: 0.5rem"
    :columns="columns"
    :row-key="(record) => record.id"
    :data-source="banks"
    :loading="loading"
  >
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'status'">
        <a-tag v-if="record.status" color="green">ACTIVO</a-tag>
        <a-tag v-else color="red">INACTIVO</a-tag>
      </template>

      <template v-if="column.key === 'action'">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClick">
              <a-menu-item @click="editar(record)" key="1">
                <EditOutlined />
                Editar
              </a-menu-item>
              <a-menu-item @click="cuentas(record.id)" key="2">
                <AccountBookOutlined />
                Ver Cuentas
              </a-menu-item>
            </a-menu>
          </template>
          <a-button>
            Acciones
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </template>
    </template>
  </a-table>

  <!-- modal de registro -->
  <a-modal
    v-model:open="open"
    title="Registrar Banco"
    @ok="storeBank"
    ok-text="Registrar"
    :ok-button-props="{ loading: registrando }"
  >
    <a-row :gutter="[8, 8]">
      <a-col :xs="24" :sm="24" :md="8">
        <a-input v-model:value="bank.code" placeholder="Codigo" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="16">
        <a-input v-model:value="bank.name" placeholder="Nombre" />
      </a-col>
    </a-row>
  </a-modal>

  <!-- modal de edicion -->
  <a-modal
    v-model:open="openEdit"
    title="Editar Banco"
    @ok="updateBank"
    ok-text="Actualizar"
    :ok-button-props="{ loading: actualizando }"
  >
    <a-row :gutter="[8, 8]">
      <a-col :xs="24" :sm="24" :md="8">
        <a-input v-model:value="bankEdit.code" placeholder="Codigo" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="16">
        <a-input v-model:value="bankEdit.name" placeholder="Nombre" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="24">
        <a-switch
          color="green"
          v-model:checked="bankEdit.status"
          checked-children="Activo"
          un-checked-children="Inactivo"
        />
      </a-col>
    </a-row>
  </a-modal>
</template>

<script setup>
definePageMeta({
  layout: "admin",
});
const open = ref(false);
const openEdit = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const loading = ref(false);
const route = useRoute();
const router = useRouter();
const banks = ref([]);
const bankEdit = ref([]);
const sucursal = ref("");
const bank = ref({
  name: "",
  code: "",
  countrie: route.params.id,
});
const columns = [
  {
    title: "Codigo",
    dataIndex: "code",
    key: "code",
  },
  {
    title: "Nombre",
    dataIndex: "name",
    key: "name",
  },
  {
    title: "Estado",
    dataIndex: "status",
    key: "status",
  },
  {
    title: "",
    key: "action",
  },
];

const getUsersSucursales = async () => {
  loading.value = true;
  const { data, error, fetchData } = useHttpGetWithBearer(
    "countries/" + route.params.id
  );
  await fetchData();
  banks.value = data.value.data.banks;
  sucursal.value = data.value.data;
  loading.value = false;
};

getUsersSucursales();

const storeBank = async () => {
  message.info("Registrando");
  registrando.value = true;

  const { data, error, postData } = useHttpPostWithBearer("banks", bank.value);

  await postData();
  if (!data.value) {
    message.success("Pais Registrado con exito");
    registrando.value = false;
    open.value = false;
    getUsersSucursales();
  }
};

const editar = (item) => {
  bankEdit.value = item;
  openEdit.value = true;
};

const updateBank = async () => {
  const excludedFields = ["createdAt", "updatedAt", "id"];
  const filteredData = { ...bankEdit.value };
  excludedFields.forEach((field) => delete filteredData[field]);
  const { data, error, patchData } = useHttpPatchWithBearer(
    "banks/" + bankEdit.value.id,
    filteredData
  );

  await patchData();
  if (!data.value) {
    bankEdit.value = "";

    message.success("Banco Editado con exito");
    actualizando.value = false;
    openEdit.value = false;
  }
};

const cuentas = (id) => {
  router.push("/paises/" + sucursal.value.id + "/cuentas/" + id);
};
</script>

<style>
</style>