<template>
    <a-card title="Tus Estadisticas" />

    <a-row :gutter="[16, 16]" class="mt-5">
        <a-col :xs="24" :sm="24" :md="8">
            <a-card style="margin-bottom: 0.5rem;" title="Clientes">
                <template #extra>
                    000
                </template>
            </a-card>
            <a-card style="margin-bottom: 0.5rem;" title="Guias">
                <template #extra>
                    000
                </template>
            </a-card>
            <a-card style="margin-bottom: 0.5rem;" title="Manifiestos">
                <template #extra>
                    000
                </template>
            </a-card>
        </a-col>
        <a-col :xs="24" :sm="24" :md="8">
            <a-card @click="irA('/paqueteria/generar-guias')" style="margin-bottom: 1rem;" class="text-center cursor-pointer flex flex-col p-1 bg-green-100 border-2 border-green-900">
                <FileAddOutlined class="text-7xl text-green-800" /> <br>
                <span class="text-5xl text-green-800">Crear Guia</span>
            </a-card>
        </a-col>
      <a-col :xs="24" :sm="24" :md="8">
        <a-card @click="irA('/transacciones/add')" style="margin-bottom: 1rem;" class="text-center cursor-pointer flex flex-col p-1 bg-green-100 border-2 border-green-900">
          <FileAddOutlined class="text-7xl text-green-800" /> <br>
          <span class="text-4xl text-green-800 font-semibold">Crear Remesa</span>
        </a-card>
      </a-col>
    </a-row>
</template>


<script setup>
const router = useRouter();
const irA = (route) => {
    router.push(route);
}
</script>