<template>
    <a-row :gutter="[16, 16]">
    <a-col :xs="24" :sm="24" :md="6">
      <a-card style="margin-bottom: 1rem;" title="Clientes">
        <template #extra>
          000
        </template>
      </a-card>

      <a-card style="margin-bottom: 1rem;" title="Jaladores">
        <template #extra>
          000
        </template>
      </a-card>

      <a-card style="margin-bottom: 1rem;" title="Dueños de Cuentas">
        <template #extra>
          000
        </template>
      </a-card>

      <a-card style="margin-bottom: 1rem;" title="Transacciones del Dia">
        <template #extra>
          000
        </template>
      </a-card>
    </a-col>
    <a-col :xs="24" :sm="24" :md="18">
      <a-card title="Montos Totales Disponibles">

        <template #extra>
          <b>{{ amountUsdt }} USDT</b>
        </template>

        <a-row :gutter="[16, 16]">
          <a-col v-for="(countrie, index) in countries" :key="index" :xs="24" :sm="24" :md="8">
            <a-card :title="countrie.name" v-if="countrie.totalAmount > 0">

              <template #extra>
                <UIcon :name="getFlat(countrie.flag)" size="60" class="rounded-full" dynamic />
              </template>

              <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="text-right mb-2">
                  <span class="text-black text-1xl">{{ fixear(countrie.totalAmount) }} {{ countrie.currency }}</span>
                </div>
                <div class="text-right">
                  <span class="text-black text-1xl">{{ fixear(countrie.usdtAmount) }} USDT</span>
                </div>
              </div>
            </a-card>
          </a-col>

        </a-row>
      </a-card>
    </a-col>
  </a-row>

</template>

<script setup>
const amountUsdt = ref(0)
const countries = ref([])

const getFlat = (value) => {
  return 'i-flagpack-' + value.toLowerCase()
}

const fixear = (valor) => {
    const numero = Number(valor);
    if (!isNaN(numero) && numero > 0) {
        return numero.toFixed(2);
    } else {
        return null;
    }
}



const getCountries = () => {
  instanceWithToken.get('countries?report=true').then((result) => {
    countries.value = result.data.data

    countries.value.map((result) => {
      if (result.usdtAmount != null) {
        amountUsdt.value = parseFloat(amountUsdt.value) + parseFloat(result.usdtAmount)
      }
    })

    amountUsdt.value = amountUsdt.value.toFixed(2)
  })
}

getCountries()
</script>
