<template>
    <a-card title="Listado de Clientes" style="width: 100%">
        <a-row>
            <a-col :xs="24" :sm="24" :md="24">
                <a-select v-model:value="jaladorId" placeholder="SELECCIONE UN JALADOR" @change="filterClients"
                    style="width: 100%" :options="jaladoresData"></a-select>
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id"
                    :data-source="clients" :loading="loading"></a-table>
            </a-col>
        </a-row>
    </a-card>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});

const jaladorId = ref(null)
const jaladoresData = ref([])
const loading = ref(true)
const clients = ref([])
const getJaladores = () => {
    loading.value = true
    instanceWithToken.get('users?type_user=puller').then((result) => {
        jaladoresData.value = []
        jaladoresData.value.push({
            value: 'all',
            label: 'TODOS'
        })
        result.data.data.map((user) => {
            jaladoresData.value.push({
                value: user.id,
                label: ' @' + user.user + ': ' + user.name
            })
            loading.value = false
        })
    })
}

getJaladores()

const getClients = () => {
    loading.value = true
    instanceWithToken.get('clients').then((result) => {
        clients.value = result.data.data
        loading.value = false
    })
}

getClients()

const columns = [
    {
        title: "Tipo Documento",
        dataIndex: "type_document",
        key: "type_document",
    },
    {
        title: "Documento",
        dataIndex: "document",
        key: "document",
    },
    {
        title: "Nombre",
        dataIndex: "full_name",
        key: "full_name",
    },
    {
        title: "Telefono",
        dataIndex: "phone",
        key: "phone",
    },
    {
        title: "",
        key: "action",
    },
];

const filterClients = () => {
    if (jaladorId.value == 'all') {
        getClients()
    }
    else {
        clients.value = []
        loading.value = true
        instanceWithToken.get('clients?jaladorId=' + jaladorId.value).then((result) => {
            clients.value = result.data.data
            loading.value = false
        })
    }
}
</script>