<template>
  <a-modal
    v-model:open="open"
    title="Registrar Transacciones"
    ok-text="Registrar"
    @close="handleClose"
    @ok="storeTransaccion"
  >
    <a-row :gutter="[8, 8]">
      <a-col :xs="24" :sm="24" :md="24">
        <label for="">Pais</label>
        <a-select
          v-model:value="transaccion.countrie"
          style="width: 100%"
          :options="countries"
          :filter-option="filterOption"
          @change="loadBanks()"
        ></a-select>
      </a-col>

      <a-col :xs="24" :sm="24" :md="24">
        <label for="">Banco</label>
        <a-select
          v-model:value="transaccion.bank"
          style="width: 100%"
          :options="banks"
          :filter-option="filterOption"
          @change="loadAccounts()"
        ></a-select>
      </a-col>

      <a-col :xs="24" :sm="24" :md="24">
        <label for="">Cuenta Origen</label>
        <a-select
          v-model:value="transaccion.origin_account"
          :loading="loading"
          style="width: 100%"
        >
          <a-select-option
            v-for="account in accounts"
            :key="account.id"
            :value="account.id"
          >
            <b>Cuenta:</b> {{ account.number }} <br />
            <b>Dueño: </b> {{ account.user.name }} <br />
            <span style="color: green"
              ><b>Contable:</b> {{ account.accountant }} <br
            /></span>
            <span style="color: red"
              ><b>Trasito:</b> {{ account.transit }} <br
            /></span>
            <b>Disponible:</b> {{ account.available }} <br />
          </a-select-option>
        </a-select>
      </a-col>

      <a-col :xs="24" :sm="24" :md="24">
        <label for="">Cuenta Destino</label>
        <a-select
          v-model:value="transaccion.destination_account"
          :loading="loading"
          style="width: 100%"
        >
          <a-select-option
            v-for="account in accounts"
            :key="account.id"
            :value="account.id"
          >
            <b>Cuenta:</b> {{ account.number }} <br />
            <b>Dueño: </b> {{ account.user.name }} <br />
            <span style="color: green"
              ><b>Contable:</b> {{ account.accountant }} <br
            /></span>
            <span style="color: red"
              ><b>Trasito:</b> {{ account.transit }} <br
            /></span>
            <b>Disponible:</b> {{ account.available }} <br />
          </a-select-option>
        </a-select>
      </a-col>

      <a-col :xs="24" :sm="24" :md="24">
        <label for="">Monto</label>
        <a-input-number
          v-model:value="transaccion.amount"
          :addon-after="moneda"
          style="width: 100%"
          placeholder="Monto"
        />
      </a-col>

      <a-col :xs="24" :sm="24" :md="12">
        <label for="">Comision</label> <br />
        <a-switch
          v-model:checked="transaccion.comision"
          checked-children="Con Comision"
          un-checked-children="Sin Comision"
        />
      </a-col>

      <a-col :xs="24" :sm="24" :md="12">
        <label for="">Monto Comision</label>
        <a-input-number
          v-model:value="transaccion.amount_commision"
          :disabled="!comision"
          style="width: 100%"
          :addon-after="moneda"
          placeholder="Monto"
        />
      </a-col>
    </a-row>
  </a-modal>
</template>

<script setup>
const open = ref(true);
const countries = ref([]);
const countriesInfo = ref([]);
const accounts = ref([]);
const banks = ref([]);
const loading = ref(true);
const registrando = ref("");
const comision = ref(false);
const handleClose = () => {
  open.value = false;
  emit("update:modelValue", false);
};
const userStore = useUserStore();
const transaccion = ref({
  amount: 0.0,
  origin_account: "",
  destination_account: "",
  user: userStore.id,
  countrie: "",
  bank: "",
  commision: false,
  amount_commision: 0.0,
});

const moneda = ref("");

const options = ref([
  { label: "INGRESO", value: "INGRESO" },
  { label: "EGRESO", value: "EGRESO" },
]);

const getPaises = async () => {
  const { data: result, error, fetchData } = useHttpGetWithBearer("countries");

  await fetchData();

  if (!error.value) {
    countriesInfo.value = result.value.data;
    result.value.data.forEach((item) => {
      countries.value.push({
        label: item.name,
        value: item.id,
      });
    });

    loading.value = false;
  }
};
getPaises();

const loadBanks = async () => {
  countriesInfo.value.filter((countrie) => {
    if (countrie.id == transaccion.value.countrie) {
      moneda.value = countrie.currency;
    }
  });

  loading.value = true;
  transaccion.value.bank = "";
  const { data, error, fetchData } = useHttpGetWithBearer(
    "countries/" + transaccion.value.countrie
  );
  await fetchData();
  banks.value = [];
  accounts.value = [];
  data.value.data.banks.forEach((item) => {
    banks.value.push({
      label: item.name,
      value: item.id,
    });
  });
  loading.value = false;
};

const loadAccounts = async () => {
  loading.value = true;

  const {
    data: result,
    error,
    fetchData,
  } = useHttpGetWithBearer("accounts/byBank/" + transaccion.value.bank);

  await fetchData();
  accounts.value = [];
  if (!error.value) {
    accounts.value = result.value.data.accounts;
    loading.value = false;
  }
};

const storeTransaccion = async () => {
  registrando.value = true;
  transaccion.value.origenFind = transaccion.value.origin_account;
  transaccion.value.destinationFind = transaccion.value.destination_account;
  const { data, error, postData } = useHttpPostWithBearer(
    "transacciones",
    transaccion.value
  );

  await postData();
  if (!data.value) {
    presupuesto.value = {
      type: "",
      date: "",
      amount: "0.00",
      concept: "",
      countrie: "",
      bank: "",
    };

    message.success("Transaccion Registrada con exito");
    registrando.value = false;
    open.value = false;
    handleClose();
  }
};

const formatearFecha = (fecha) => {
  const dates = fecha.toDate();
  const año = dates.getFullYear();
  const mes = (dates.getMonth() + 1).toString().padStart(2, "0");
  const dia = dates.getDate().toString().padStart(2, "0");
  const hora = dates.getHours().toString().padStart(2, "0");
  const minutos = dates.getMinutes().toString().padStart(2, "0");
  const segundos = dates.getSeconds().toString().padStart(2, "0");

  return `${año}-${mes}-${dia} ${hora}:${minutos}:${segundos}`;
};
</script>
