<template>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">
        <div class="col-span-1"></div>
        <div class="col-span-1">
            <Card>
                <template #title>
                    Datos de Transaccion
                </template>

                <template #content>
                    <Dropdown v-model="origin" :options="origins" optionLabel="name" placeholder="Pais de Origen"
                        class="w-full md:w-14rem mb-3 border" />

                    <Dropdown v-model="rate" :options="destinations" optionLabel="destination.name"
                        placeholder="Pais de Destino" class="w-full md:w-14rem mb-3 border" />

                    <div class="mb-5">
                        <strong>Tasa Calculo: </strong> {{ rate.rate }} {{ rate.destination.currency }} * 1 {{ rate.origin.currency }}
                    </div>

                    <label class="mt-5">Envias</label>
                    <InputGroup>
                        <InputText v-model="envio" class="input" placeholder="Envias" />
                        <InputGroupAddon class="bg-gray-300">{{ rate.origin.currency }}</InputGroupAddon>
                    </InputGroup>

                    <label>Recibes</label>
                    <InputGroup>
                        <InputText @change="setRecibes()" @changeText="setRecibes()" v-model="recibes" class="input" placeholder="Recibe" />
                        <InputGroupAddon class="bg-gray-300">{{ rate.destination.currency }}</InputGroupAddon>
                    </InputGroup>

                    <Button label="Siguiente" @click="next" class="btn btn-info w-full my-4" />
                </template>
            </Card>
        </div>
        <div class="col-span-1"></div>
    </div>
</template>

<script setup>

import InputGroup from 'primevue/inputgroup';
import InputGroupAddon from 'primevue/inputgroupaddon';
import { watch } from 'vue';
const transactionStore = useTransactionStore()
const origins = ref([])
const origin = ref(null)
const destinations = ref([])
const rate = ref({
    rate: null,
    origin: { currency: null },
    destination: { currency: null }
})
const envio = ref(null)
const recibes = ref(null)
const getOrigins = () => {
    instanceWithToken.get('countries?status=true').then((result) => {
        origins.value = result.data.data
    })
}

const getDestinations = () => {
    destinations.value = []
    instanceWithToken.get('apps/rates/origen/actives/' + origin.value.id).then((result) => {
        destinations.value = result.data.data
        destinations.value = destinations.value.filter(destination => destination.destination.id !== origin.value.id);
        console.log(destinations.value)
    })
}
getOrigins()

const setEnvios = () => {
    let amount = 0
    if (rate.value.origin.id !== 2 && rate.value.origin.id !== 1) {
        console.log("esta es la que calcula")
        amount = envio.value * rate.value.rate
        console.log(amount)
    }
    else{
        amount = envio.value * rate.value.rate
    }
    
    if (rate.value.origin.id == 1 && rate.value.destination.id == 2) {
        amount = envio.value * rate.value.rate
    }
    console.log(rate)
    if (rate.value.origin.id === 1 && rate.value.destination.id !== 2) {
        amount = envio.value / rate.value.rate
    }

    if (rate.value.origin.id === 2 && rate.value.destination.id === 1) {
        amount = envio.value / rate.value.rate
    }
    amount = amount.toFixed(2)
    recibes.value = amount
}

const setRecibes = () => {
    console.log("ejecutando")
    let amount = 0

    if (rate.value.destination.id === 1 && rate.value.origin.id === 2) {
        amount = envio.value * rate.value.rate
    }
    if (rate.value.destination.id === 1 && rate.value.origin.id !== 2) {
        amount = envio.value / rate.value.rate
    }
    if (rate.value.destination.id === 2 && rate.value.origin.id === 1) {
        amount = envio.value / rate.value.rate
    }
    if (rate.value.destination.id !== 2 && rate.value.origin.id !== 1) {
        amount = envio.value / rate.value.rate
    }

    amount = amount.toFixed(2)
    envio.value = amount
}

watch(origin, () => {
    getDestinations()
})

watch(envio, () => {
    setEnvios()
})

const emit = defineEmits(['calculator-set'])
const next = () => {
    console.log(rate.value)
    transactionStore.rateId = rate.value.id
    transactionStore.envio = envio.value
    transactionStore.recibo = recibes.value
    transactionStore.origin = rate.value.origin.id
    transactionStore.destination = rate.value.destination.id
    emit('calculator-set')
}
</script>
