<template>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">
        <div class="col-span-1">
            <Card>
                <template #title>
                    Datos del Cliente
                </template>
                <template #content>
                    <Dropdown v-model="client.type_document" :options="cities" optionLabel="name"
                        placeholder="Tipo de Documento" class="w-full md:w-14rem mb-3 border" />

                    <label>Numero de Documento</label>
                    <InputText type="text" class="w-full input" v-model="client.document" />

                    <Button label="Consultar" v-if="!clientExist" @click="consultarClient"
                        class="btn btn-info w-full my-4" />

                    <label>Nombre</label>
                    <InputText type="text" class="w-full input" v-model="client.full_name" />

                    <label>Telefono</label>
                    <InputText type="text" class="w-full input" v-model="client.phone" />

                    <label>Correo</label>
                    <InputText type="text" class="w-full input" v-model="client.email" />

                    <Button v-if="!clientExist" @click="storeClient" label="Crear Cliente"
                        class="btn btn-info w-full my-4" />
                    <Button v-if="clientExist" @click="consultarClient" label="Consultar Otro"
                        class="btn btn-success w-full my-4" />
                </template>
            </Card>
        </div>
        <div class="col-span-2">
            <Button label="Agregar Instrumento" @click="instrumentAdd = true" v-if="clientActive"
                class="btn btn-success w-full my-4" />


            <Card v-for="(instrument, index) in instruments" :key="index" @click="setInstrument(instrument.id)"
                class="bg-gray-100 shadow-xl mb-5">
                <template #title>
                    {{ instrument.full_name }}
                </template>
                <template #content>
                    <strong>Documento</strong> {{ instrument.type_document }} {{ instrument.document }} <br>
                    <strong>Correo</strong> {{ instrument.email }} <br>
                    <strong>Tipo e ID</strong> ({{ instrument.type_method }}) - {{ instrument.id_method }} <br>
                </template>
            </Card>
        </div>
    </div>
    <Dialog v-model:visible="instrumentAdd" modal header="Agregar Instrumento" class="w-[90%] md:w-[40%]">
        <div class="flex flex-col gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Tipo de Documento</label>
            <Dropdown v-model="type_document" :options="cities" optionLabel="name" placeholder="Tipo de Documento"
                class="w-full md:w-14rem mb-3 border" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <label>Documento del Titular</label>
            <InputText type="text" class="w-full input" v-model="document" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <label>Titular</label>
            <InputText type="text" class="w-full input" v-model="full_name" />
        </div>
        <div class="flex flex-col gap-3 mb-3">
            <label>Correo</label>
            <InputText type="text" class="w-full input" v-model="email" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Tipo</label>
            <Dropdown v-model="type_method" :options="type_methods" optionLabel="label"
                placeholder="Tipo de Instrumento" class="w-full md:w-14rem mb-3 border" />
        </div>

        <div v-if="type_method.value == 'Transferencia' || type_method.value == 'PagoMovil'" class="flex flex-col gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Pais</label>
            <Dropdown v-model="countrie" :options="countries" optionLabel="name" placeholder="Paises"
                class="w-full md:w-14rem mb-3 border" />
        </div>

        <div v-if="type_method.value == 'Transferencia' || type_method.value == 'PagoMovil'" class="flex flex-col gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Banco</label>
            <Dropdown v-model="bank" :options="banks" optionLabel="name" placeholder="Tipo de Instrumento"
                class="w-full md:w-14rem mb-3 border" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <label>{{ type_method.labelId }}</label>
            <InputText type="text" class="w-full input" v-model="id_method" />
        </div>

        <div class="flex flex-col gap-3 mb-3">
            <Button label="REGISTRAR Instrumento" @click="storeInstrument" class="btn btn-success w-full my-4" />
        </div>
    </Dialog>
</template>
<script setup>
const transactionStore = useTransactionStore()
import { useToast } from "primevue/usetoast";
const toast = useToast();
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
const clientExist = ref(false)
const instrumentAdd = ref(false)
const clientActive = ref(false)
const client = ref({
    document: null,
    full_name: null,
    phone: null,
    email: null,
    type_document: null
})
const instruments = ref([])
const cities = ref([
    { name: 'Pasaporte', code: 'PASAPORTE' },
    { name: 'Cedula', code: 'CEDULA' },
    { name: 'Carnet de Extranjeria', code: 'CARNET DE EXTRANJERIA' },
    { name: 'Carnet de Refugiado', code: 'CARNET DE REFUGIADO' },
    { name: 'Cedula de Extranjeria', code: 'CEDULA DE EXTRANJERIA' },
    { name: 'DNI', code: 'DNI' },
    { name: 'RUC', code: 'RUC' },
    { name: 'PTP', code: 'PTP' },
    { name: 'RIF', code: 'RIF' },
]);

const consultarClient = () => {
    instanceWithToken.get('clients/' + client.value.document).then((result) => {
        if (result.data.success) {
            toast.add({ severity: 'success', summary: 'Cliente Encontrado', detail: 'Cliente encontrado con exito', life: 3000 });
            client.value = result.data.data
            transactionStore.cliendId = result.data.data.id
            instruments.value = result.data.data.instruments
            clientExist.value = true
            clientActive.value = true
        }
        else {
            toast.add({ severity: 'error', summary: 'Cliente No Encontrado', detail: 'Cliente no encontrado, proceda a registrar uno nuevo', life: 3000 });
            clientExist.value = false
            transactionStore.cliendId = null
            client.value = {
                full_name: null,
                phone: null,
                email: null
            }
            clientActive.value = false
        }
    })
}

const storeClient = () => {
    console.log()
    const playload = {
        type_document: client.value.type_document.code,
        document: client.value.document,
        full_name: client.value.full_name,
        phone: client.value.phone,
        email: client.value.email,
    }

    toast.add({ severity: 'success', summary: 'Cliente Registrado', detail: 'Cliente creado con exito!', life: 3000 });
    clientExist.value = true
    instanceWithToken.post('clients', playload).then((result) => {
        transactionStore.cliendId = result.data.data.id
        clientActive.value = true
    })
}
const emit = defineEmits(['instrument-set'])
const setInstrument = (instrument) => {
    transactionStore.instrumenId = instrument
    toast.add({ severity: 'success', summary: 'Instrumento Asignado', detail: 'Instrumento de Pago Asignado correctamente', life: 3000 });
    emit('instrument-set')
}
const type_methods = ref([
    { label: 'Pago Movil', value: 'PagoMovil', labelId: 'Numero de Telefono' },
    { label: 'Transferencia', value: 'Transferencia', labelId: 'Numero de Cuenta' },
    { label: 'Crypto', value: 'Crypto', labelId: 'Numero o Correo de Wallet' },
])
const countries = ref([])
const countrie = ref(null)
const type_method = ref({
    labelId: null
})
const type_document = ref(null)
const document = ref(null)
const full_name = ref(null)
const email = ref(null)
const id_method = ref(null)

const banks = ref([])
const bank = ref(null)
const getPaises = async () => {
    instanceWithToken.get("countries?status=true").then((result) => {
        countries.value = result.data.data
        loading.value = false
    }).catch((error) => { })
};
getPaises()

const getBanks = async () => {
    instanceWithToken.get("countries/" + countrie.value.id).then((result) => {
        banks.value = result.data.data.banks;
    })
};

watch(countrie, () => {
    getBanks()
})


const storeInstrument = () => {
    const playload = {
        type_document: type_document.value.code,
        document: parseInt(document.value),
        full_name: full_name.value,
        email: email.value,
        type_method: type_method.value.value,
        id_method: id_method.value,
        bank_method: bank.value.id,
        client: transactionStore.cliendId
    }

    instanceWithToken.post('client-instruments', playload).then((result) => {
        instrumentAdd.value = false
        transactionStore.instrumenId = result.data.data.id
        console.log(result.data.data.id)
        toast.add({ severity: 'success', summary: 'Instrumento Asignado', detail: 'Instrumento de Pago Asignado correctamente', life: 3000 });
        emit('instrument-set')
    })
}

</script>