<template>
    <Toast />
    <Card>
        <template #content>
            <Steps v-model:activeStep="active" :model="items" />

            <Client @instrument-set="active = 1" v-if="active == 0" />
            <Calculator @calculator-set="active = 2" v-if="active == 1" />
            <Pay @finish-set="active = 3" v-if="active == 2" />

        </template>
    </Card>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});
import { watch } from 'vue'
import Steps from 'primevue/steps';
import Card from 'primevue/card';

import Client from '@/pages/transacciones/add/client'
import Calculator from '@/pages/transacciones/add/calculator'
import Pay from '@/pages/transacciones/add/pay'

const active = ref(0);
const items = ref([
    {
        label: 'Cliente e Instrumento'
    },
    {
        label: 'Calcular Transaccion'
    },
    {
        label: 'Subir Comprobante'
    }
]);

watch(active, () => {
    if (active.value == 3) {
        alert("transaccionar")
    }
})
</script>