<template>
    <div class="card">
        <Toast />
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10 mx-10">
            <div class="col-span-1">
                <label for="">Cuenta</label>
                <Dropdown v-model="account" :options="accounts" optionLabel="label"
                    placeholder="Selecccion Cuenta de Recepcion" class="w-full md:w-14rem mb-3 border" />
            </div>
            <div class="col-span-1">
                <label for="">Numero de Comprobante</label>
                <InputText class="input w-full" v-model="numero" placeholder="Numero de comprobante" />
            </div>
            <div class="col-span-1">
                <label for="">Fecha</label>
                <input class="input w-full" type="date" v-model="date">
            </div>
        </div>
        <Card>
            <template #content>
                <input type="file" @change="previewImage" />
                <img v-if="imageProcesada" :src="imageProcesada.uri" class="rounded-lg w-[300px]"
                    alt="Vista previa de la imagen" />
            </template>
        </Card>
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mt-10 mx-10">
            <Button label="Generar" :disabled="proceso" @click="consultComprobante"
                class="btn btn-success w-full my-4" />
        </div>

    </div>
</template>

<script setup>
const transactionStore = useTransactionStore()
const numero = ref(null)
const date = ref(null)
const userStore = useUserStore();
const accounts = ref([])
const account = ref(null)
const proceso = ref(false)
const getCuentas = async () => {
    instanceWithToken.get('apps/accounst/byCountrie/' + transactionStore.origin).then((result) => {
        const cuentas = result.data.data.accounts
        cuentas.map((cuenta) => {
            accounts.value.push({
                value: cuenta.id,
                label: `${cuenta.titular}\n${cuenta.bank.name}\n${cuenta.number}`
            })
        })

    })
}

getCuentas()

const imageData = ref(null);
const imageProcesada = ref(null);


const previewImage = (event) => {
    const file = event.target.files[0];
    if (file) {
        imageData.value = file;
        console.log('imageData.value:', imageData.value);
    }
};

import { useToast } from "primevue/usetoast";
const toast = useToast();
const router = useRouter();

const consultComprobante = () => {
    instanceWithToken.get('apps/transactions/validate-comprobante/' + numero.value + '/' + date.value).then((result) => {
        if(!result.data.success){
            toast.add({ severity: 'error', summary: 'Comprobante Duplicado', detail: result.data.message, life: 3000 });
        }
        else{
            storeTransaction()
        }
    })
}

const storeTransaction = () => {
    proceso.value = true
    const formData = new FormData();
    formData.append('image', imageData.value);
    formData.append('creator', userStore.id);
    formData.append('client', transactionStore.cliendId);
    formData.append('instrument', transactionStore.instrumenId);
    formData.append('rate', transactionStore.rateId);
    formData.append('amountSend', transactionStore.envio);
    formData.append('amountReceived', transactionStore.recibo);
    formData.append('dateProofOfSend', date.value);
    formData.append('numberProofOfSend', numero.value);
    formData.append('idDestino', transactionStore.destination);
    formData.append('idOrigin', transactionStore.origin);
    formData.append('idJalador', userStore.id);
    formData.append('account', account.value.value);

    instanceWithToken.post('apps/transactions/create', formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    }).then((result) => {
        toast.add({ severity: 'success', summary: 'Transaccion creada', detail: 'Esta transaccion pasa a proceso de evaluacion', life: 3000 });
        router.push("/transacciones/listado");
    }).catch((e) => {
        console.log(e)
    })
}
</script>
