<template>
    <a-card title="Cuentas">
        <template #extra>
            <a-button @click="open = true" type="primary" block>Agregar Nueva</a-button>
        </template>

        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="6">
                <a-select v-model:value="countrie" @change="handleCountryChange2" placeholder="Pais" style="width: 100%"
                    :options="countries" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="6">
                <a-select placeholder="Banco" @change="handleObtainsAccounts" v-model:value="bank" style="width: 100%" :options="banks" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="6">
                <a-select v-model:value="user" @change="handleObtainsAccounts" placeholder="Usuario" style="width: 100%" :options="users" />
            </a-col>
            <!-- <a-col :xs="24" :sm="24" :md="6">
                <a-button style="width: 100%" type="primary">Buscar</a-button>
            </a-col> -->
        </a-row>
    </a-card>

    <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="accounts"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'type_currency'">
                <a-tag v-if="record.type_currency == 'CRIPTO'" color="green">CRIPTO</a-tag>
                <a-tag v-else color="warning">FIAT</a-tag>
            </template>

            <template v-if="column.key === 'countrie'">
                <span v-if="record.countrie != null">
                    {{ record.countrie.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'bank'">
                <span v-if="record.bank != null">
                    {{ record.bank.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'action'">
                <a-dropdown>
                    <template #overlay>
                        <a-menu @click="handleMenuClick">
                            <a-menu-item @click="editar(record)" :key="`editar_${record.id}`">
                                <EditOutlined />
                                Editar
                            </a-menu-item>
                        </a-menu>
                    </template>
                    <a-button>
                        Acciones
                        <DownOutlined />
                    </a-button>
                </a-dropdown>
            </template>
        </template>
    </a-table>


    <a-modal v-model:open="open" title="Registrar Cuenta" @ok="storeAccount" ok-text="Registrar"
        :ok-button-props="{ loading: registrando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="12">
                <label>Usuario</label>
                <a-select v-model:value="account.user" placeholder="Usuario" style="width: 100%" :options="users" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <label>Pais</label>
                <a-select v-model:value="account.countrie" @change="handleCountryChange" placeholder="Pais"
                    style="width: 100%" :options="countries" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Banco</label>
                <a-select v-model:value="account.bank" @change="handleBankChange" placeholder="Banco" style="width: 100%" :options="banks" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Tipo de Cuenta</label>
                <a-input v-model:value="account.type_account" placeholder="Tipo de Cuenta" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Documento</label>
                <a-input v-model:value="account.document" placeholder="Documento" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Correo</label>
                <a-input v-model:value="account.email" placeholder="Correo" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <label>Titular</label>
                <a-input v-model:value="account.titular" placeholder="Titular" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <label>ID de Cuenta</label>
                <a-input v-model:value="account.number" placeholder="ID de Cuenta" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <label>Tipo de Cuenta</label>
                <a-select v-model:value="account.type_currency" placeholder="Tipo de Moneda" style="width: 100%"
                    :options="typeCurrency"></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <label>Comision?</label>
                <a-switch v-model:checked="account.commision" checked-children="Con Comision"
                    un-checked-children="Sin Comision" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                <label>Porcentaje</label>
                <a-input v-model:value="account.profit_commission" addon-after="%" placeholder="Comision"
                    :disabled="!account.commision" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-textarea v-model:value="account.message" placeholder="Mensaje" :rows="4" />
            </a-col>
        </a-row>
    </a-modal>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

const accounts = ref([])
const countries = ref([])
const countrie = ref(null)
const users = ref([])
const user = ref(null)
const banks = ref([])
const bank = ref(null)
const open = ref(false)
const loading = ref(false)
const account = ref({
    user: null,
    countrie: null,
    bank: null,
    type_account: null,
    document: null,
    email: null,
    number: null,
    commision: false,
    profit_commission: null,
    message: null,
    titular: null
})
const registrando = ref(false)

const getCountries = () => {
    instanceWithToken.get('countries?status=true').then((result) => {
        result.data.data.map((countrie) => {
            countries.value.push({
                label: countrie.name,
                value: countrie.id
            })
        })

    })
}

const getBanks = () => {
    instanceWithToken.get('countries?status=true').then((result) => {
        countries.value = result.data.data
    })
}

const getOwners = () => {
    instanceWithToken.get('users?type_user=account_owner').then((result) => {
        result.data.data.map((user) => {
            users.value.push({
                label: `@${user.user} | ${user.name}`,
                value: user.id
            })
        })
    })
}

const getAccount = () => {
    loading.value = true
    instanceWithToken.get('accounts').then((result) => {
        accounts.value = result.data.data
        loading.value = false
    })
}

const storeAccount = () => {
    registrando.value = true
    instanceWithToken.post('accounts', account.value).then((result) => {
        if (result.data.success) {
            open.value = false
            account.value = {
                user: null,
                countrie: null,
                bank: null,
                type: null,
                document: null,
                email: null,
                number: null,
                commision: false,
                profit_commission: 0,
                message: null
            }
            registrando.value = false
            getAccount()
        }
    }).catch((e) => {
        console.log(e)
        registrando.value = false
    })
}

const handleCountryChange = () => {
    instanceWithToken.get('banks?countrie=' + account.value.countrie).then((result) => {
        banks.value = []
        result.data.data.map((bank) => {
            banks.value.push({
                label: bank.name,
                value: bank.id
            })
        })
    })
}

const handleCountryChange2 = () => {
    bank.value = null
    instanceWithToken.get('banks?countrie=' + countrie.value).then((result) => {
        banks.value = []
        result.data.data.map((bank) => {
            banks.value.push({
                label: bank.name,
                value: bank.id
            })
        })
    })
    handleObtainsAccounts()
}

const handleObtainsAccounts = () => {
    let url = "accounts?"
    if(countrie.value) url = url+`countrie=${countrie.value}`
    if(bank.value) url = url+`&bank=${bank.value}`
    if(countrie.value && user.value) {url = url+`&userId=${user.value}`}
    if(!countrie.value && user.value) {url = url+`userId=${user.value}`}

    instanceWithToken.get(url).then((result) => {
       accounts.value = result.data.data
    })
}

getCountries()
getOwners()
getAccount()

const columns = [
    {
        title: "Titular",
        dataIndex: "titular",
        key: "titular",
    },
    {
        title: "Tipo de Moneda",
        dataIndex: "type_currency",
        key: "type_currency",
    },
    {
        title: "Pais",
        dataIndex: "countrie",
        key: "countrie",
    },
    {
        title: "Banco",
        dataIndex: "bank",
        key: "bank",
    },
    {
        title: "",
        key: "action",
    },
];

const typeCurrency = ref([
    { label: "CRIPTO", value: "CRIPTO" },
    { label: "FIAT", value: "FIAT" },
]);
</script>