<template>
    <a-card title="Cuentas del Banco" style="width: 100%"> </a-card>

    <a-table
        style="margin-top: 1rem"
        :columns="columns"
        :row-key="(record) => record.id"
        :data-source="accounts"
        :loading="loading"
    >
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'type_currency'">
                <a-tag v-if="record.type_currency == 'CRIPTO'" color="green"
                    >CRIPTO</a-tag
                >
                <a-tag v-else color="warning">FIAT</a-tag>
            </template>

            <template v-if="column.key === 'type_account'">
                <a-tag v-if="record.type_account == 'ENVIO'" color="red"
                    >ENVIO</a-tag
                >
                <a-tag v-else color="green">RECEPCION</a-tag>
            </template>

            <template v-if="column.key === 'countrie'">
                <span v-if="record.countrie != null">
                    {{ record.countrie.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'bank'">
                <span v-if="record.bank != null">
                    {{ record.bank.name }}
                </span>
                <span v-else> - </span>
            </template>

            <template v-if="column.key === 'action'">
                <a-dropdown>
                    <template #overlay>
                        <a-menu @click="handleMenuClick">
                            <a-menu-item @click="editar(record)" key="1">
                                <EditOutlined />
                                Editar
                            </a-menu-item>
                        </a-menu>
                    </template>
                    <a-button>
                        Acciones
                        <DownOutlined />
                    </a-button>
                </a-dropdown>
            </template>
        </template>
    </a-table>

    <!-- modal de registro -->
    <a-modal
        v-model:open="open"
        title="Registrar Cuenta"
        @ok="storeAccount"
        ok-text="Registrar"
        :ok-button-props="{ loading: registrando }"
    >
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="12">
                <label>Tipo de Cuenta</label>
                <a-select
                    v-model:value="account.type_account"
                    placeholder="Tipo de Cuenta"
                    style="width: 100%"
                    :options="typeAccounts"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Tipo de Moneda</label>
                <a-select
                    v-model:value="account.type_currency"
                    placeholder="Tipo de Moneda"
                    style="width: 100%"
                    :options="typeCurrency"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-input
                    v-model:value="account.number"
                    placeholder="Identificador de Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    v-model:value="account.document"
                    placeholder="Documento de la Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    v-model:value="account.email"
                    placeholder="Correo de la Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-switch
                    v-model:checked="account.commision"
                    checked-children="Con Comision"
                    un-checked-children="Sin Comision"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    v-model:value="account.profit_commission"
                    addon-after="%"
                    placeholder="Comision"
                    :disabled="!account.commision"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Pais</label>
                <a-select
                    v-model:value="account.countrie"
                    style="width: 100%"
                    :options="paises"
                    label="name"
                    @change="loadBanks()"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Banco</label>
                <a-select
                    v-model:value="account.bank"
                    style="width: 100%"
                    :options="banks"
                    label="name"
                    :loading="loading"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-textarea
                    v-model:value="account.message"
                    placeholder="Mensaje"
                    :rows="4"
                />
            </a-col>
        </a-row>
    </a-modal>

    <!-- modal de editar -->
    <a-modal
        v-model:open="openEdit"
        title="Editar Cuenta"
        @ok="updateAccount"
        ok-text="Actualizar"
        :ok-button-props="{ loading: actualizando }"
    >
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="12">
                <label>Tipo de Cuenta</label>
                <a-select
                    v-model:value="accountEdit.type_account"
                    placeholder="Tipo de Cuenta"
                    style="width: 100%"
                    :options="typeAccounts"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Tipo de Moneda</label>
                <a-select
                    v-model:value="accountEdit.type_currency"
                    placeholder="Tipo de Moneda"
                    style="width: 100%"
                    :options="typeCurrency"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-input
                    v-model:value="accountEdit.number"
                    placeholder="Identificador de Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    style="width: 100%"
                    v-model:value="accountEdit.document"
                    placeholder="Documento de la Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    v-model:value="accountEdit.email"
                    placeholder="Correo de la Cuenta"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-switch
                    v-model:checked="accountEdit.commision"
                    checked-children="Con Comision"
                    un-checked-children="Sin Comision"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <a-input
                    v-model:value="accountEdit.profit_commission"
                    addon-after="%"
                    placeholder="Comision"
                    :disabled="!account.commision"
                />
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Pais</label>
                <a-select
                    v-model:value="accountEdit.countrie"
                    style="width: 100%"
                    :options="paises"
                    label="name"
                    @change="loadBanksEdits()"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="12">
                <label>Banco</label>
                <a-select
                    v-model:value="accountEdit.bank"
                    style="width: 100%"
                    :options="banks"
                    label="name"
                    :loading="loading"
                ></a-select>
            </a-col>

            <a-col :xs="24" :sm="24" :md="24">
                <a-textarea
                    v-model:value="accountEdit.message"
                    placeholder="Mensaje"
                    :rows="4"
                />
            </a-col>
        </a-row>
    </a-modal>
</template>
<script setup>
definePageMeta({
    layout: "admin",
});
const paises = ref([]);
const banks = ref([]);
const open = ref(false);
const openEdit = ref(false);
const loading = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const route = useRoute();
const accounts = ref([]);
const accountEdit = ref("");
const account = ref({
    number: "",
    document: "",
    email: "",
    type_account: "",
    type_currency: "",
    commision: false,
    profit_commission: "0.0",
    user: parseInt(route.params.id),
    countrie: null,
    message: "",
});

const columns = [
    {
        title: "Tipo de Moneda",
        dataIndex: "type_currency",
        key: "type_currency",
    },
    {
        title: "Tipo de Cuenta",
        dataIndex: "type_account",
        key: "type_account",
    },
    {
        title: "Monto Disponible",
        dataIndex: "amount",
        key: "amount",
    },
    {
        title: "Pais",
        dataIndex: "countrie",
        key: "countrie",
    },
    {
        title: "Banco",
        dataIndex: "bank",
        key: "bank",
    },
    {
        title: "",
        key: "action",
    },
];

const typeAccounts = ref([
    { label: "ENVIO", value: "ENVIO" },
    { label: "RECEPCION", value: "RECEPCION" },
]);

const typeCurrency = ref([
    { label: "CRIPTO", value: "CRIPTO" },
    { label: "FIAT", value: "FIAT" },
]);

const getPaises = async () => {
    const {
        data: result,
        error,
        fetchData,
    } = useHttpGetWithBearer("countries");

    await fetchData();

    if (!error.value) {
        result.value.data.forEach((item) => {
            paises.value.push({
                value: item.id,
                label: item.name,
            });
        });
        loading.value = false;
    }
};
getPaises();

const loadBanks = async () => {
    loading.value = true;
    const { data, error, fetchData } = useHttpGetWithBearer(
        "countries/" + account.value.countrie,
    );
    await fetchData();
    banks.value = [];
    data.value.data.banks.forEach((item) => {
        banks.value.push({
            label: item.name,
            value: item.id,
        });
    });
    loading.value = false;
};

const loadBanksEdits = async () => {
    loading.value = true;
    const { data, error, fetchData } = useHttpGetWithBearer(
        "countries/" + accountEdit.value.countrie,
    );
    await fetchData();
    banks.value = [];
    data.value.data.banks.forEach((item) => {
        banks.value.push({
            label: item.name,
            value: item.id,
        });
    });
    loading.value = false;
};

const storeAccount = async () => {
    message.info("Registrando");
    registrando.value = true;

    const { data, error, postData } = useHttpPostWithBearer(
        "accounts",
        account.value,
    );

    await postData();
    if (!data.value) {
        message.success("Cuenta Registrada con exito");
        registrando.value = false;
        open.value = false;
        getAccounts();
    }
};

const updateAccount = async () => {
    message.info("Actualizando Usuario");
    actualizando.value = true;

    const excludedFields = ["createdAt", "updatedAt", "amount", "id"];
    const filteredData = { ...accountEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);
    const { data, error, patchData } = useHttpPatchWithBearer(
        "accounts/" + accountEdit.value.id,
        filteredData,
    );

    await patchData();
    if (!data.value) {
        message.success("Cuenta Actualizada con exito");
        actualizando.value = false;
        openEdit.value = false;
        getAccounts();
    }
};

const getAccounts = async () => {
    const {
        data: result,
        error,
        fetchData,
    } = useHttpGetWithBearer("accounts/byBank/" + route.params.idBank);

    await fetchData();

    if (!error.value) {
        accounts.value = result.value.data.accounts;
        loading.value = false;
    }
};

getAccounts();

const editar = (item) => {
    openEdit.value = true;
    accountEdit.value = item;
};
</script>
