<template>
  <a-layout style="min-height: 100vh">
    <a-layout-sider breakpoint="lg" collapsed-width="0" @collapse="onCollapse" @breakpoint="onBreakpoint">
      <div class="logo">
        <img src="@/assets/logo.png" width="180px" alt="" />
      </div>
      <a-menu theme="dark" mode="inline">
        <a-menu-item @click="navigateTo('/home')" key="0">
          <home-outlined />
          <span>Home</span>
        </a-menu-item>
        <a-menu-item @click="navigateTo('/usuarios/sucursal')" v-if="userStore.typeUser == 'PADMIN'"
          key="sucursal.usuarios">
          <user-outlined />
          <span>Usuarios</span>
        </a-menu-item>
        <a-sub-menu v-if="userStore.typeUser == 'PSADMIN'" key="sub1">
          <template #title>
            <span>
              <control-filled />
              <span>Basicos</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/sucursales')" key="1">Sucursales</a-menu-item>
          <a-menu-item @click="navigateTo('/paises')" key="2">Paises</a-menu-item>
          <a-menu-item @click="navigateTo('/usuarios')" key="3">Usuarios</a-menu-item>
          <a-menu-item @click="navigateTo('/accounts')" key="basics.accounts">Cuentas</a-menu-item>
          <a-menu-item @click="navigateTo('/documents')" key="basics.documents">Documentos</a-menu-item>
        </a-sub-menu>

        <a-sub-menu v-if="userStore.typeUser == 'PSADMIN'" key="sub3">
          <template #title>
            <span>
              <IssuesCloseOutlined />
              <span>Administracion</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/presupuesto/agregar-orden-pago')" key="generar.pago">Generar Pago /
            Trans</a-menu-item>
          <a-menu-item @click="navigateTo('/presupuesto/ordenes-pago')" key="5">Ordenes de Pago</a-menu-item>
          <a-menu-item @click="navigateTo('/presupuesto/agregar-ingreso')" key="generar.ingreso">Generar
            Ingreso</a-menu-item>
          <a-menu-item @click="navigateTo('/presupuesto')" key="reporte.financiero">Reporte Financiero</a-menu-item>
          <a-menu-item @click="navigateTo('/tasas')" key="6">Tasas</a-menu-item>
        </a-sub-menu>

        <a-sub-menu v-if="userStore.typeUser === 'POPERARIO' && userStore.sucursal_remittances == true" key="remesas">
          <template #title>
            <span>
              <DollarOutlined />
              <span>Remesas</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/transacciones/listado')" key="transacciones.listado.jalador">Listado General</a-menu-item>
          <a-menu-item @click="navigateTo('/transacciones/lista-espera')" key="transacciones.listado.despachador.jalador">Lista de Espera</a-menu-item>
          <a-menu-item @click="navigateTo('/transacciones/add')" key="transacciones.add.jalador">Nueva Transaccion</a-menu-item>
        </a-sub-menu>

        <a-sub-menu key="paqueterias">
          <template #title>
            <span>
              <DropboxOutlined />
              <span>Paqueteria</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/paqueteria/guias')" key="paqueteria.listado">Guias</a-menu-item>
          <a-menu-item @click="navigateTo('/paqueteria/manifiestos')"
            key="paqueteria.manifiestos">Manifiestos</a-menu-item>
          <a-menu-item @click="navigateTo('/paqueteria/generar-guias')" v-if="userStore.typeUser === 'POPERARIO'"
            key="paqueteria.generar">Generar Guia</a-menu-item>
        </a-sub-menu>

        <a-sub-menu v-if="userStore.typeUser == 'PSADMIN'" key="transacciones">
          <template #title>
            <span>
              <RetweetOutlined />
              <span>Transacciones</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/transacciones/listado')" key="transacciones.listado">Listado General</a-menu-item>
          <a-menu-item @click="navigateTo('/transacciones/despchador')" key="transacciones.listado.despachador">Cola</a-menu-item>
          <a-menu-item @click="navigateTo('/transacciones/add')" key="transacciones.add">Nueva Transaccion</a-menu-item>
        </a-sub-menu>

        <a-sub-menu v-if="userStore.typeUser == 'PSADMIN'" key="trash">
          <template #title>
            <span>
              <delete-filled />
              <span>Papelera</span>
            </span>
          </template>
          <a-menu-item @click="navigateTo('/sucursales')" key="trahs.sucursales">Sucursales</a-menu-item>
          <a-menu-item @click="navigateTo('/paises')" key="trash.paises">Paises</a-menu-item>
          <a-menu-item @click="navigateTo('/usuarios')" key="trash.usuarios">Usuarios</a-menu-item>
        </a-sub-menu>

        <a-menu-item @click="confirm" style="background-color: red; color: white" key="logout">
          <logout-outlined />
          <span>Cerrar Sesion</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0" />
      <a-layout-content style="margin: 0 16px">
        <div :style="{
          padding: '24px',
          marginTop: '1rem',
          minHeight: '360px',
        }">
          <slot />
        </div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Desarrollado por AC Soluciones Digitales
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>

<script setup>
import 'primevue/resources/themes/aura-light-green/theme.css'
import 'primeicons/primeicons.css'
import '@/pages/styles.css'
useHead({
  title: "Panet",
  meta: [
    {
      name: "description",
      content: "Sistema de control de remesas y paqueteria Panet.",
    },
  ],
});

import { createVNode } from "vue";
import { ExclamationCircleOutlined,} from "@ant-design/icons-vue";
const navigateTo = (route) => {
  const router = useRouter();
  router.push(route);
};
const userStore = useUserStore();
const router = useRouter();
const logout = () => {
  userStore.sesion = false;
  userStore.token = null;
  userStore.typeUser = null;
  userStore.puller = false;
  userStore.name = null;
  userStore.sucursalId = null;
  userStore.account_owner = false;
  userStore.profit_commission = null;
  userStore.sucursal_remittances = null;
  userStore.sucursal_shipments = null;
  userStore.sucursal_name = null;
  userStore.sucursal_code = null;
  router.push("/");
};

const confirm = () => {
  Modal.confirm({
    title: "Cierre de Sesion",
    icon: createVNode(ExclamationCircleOutlined),
    content: "Desea Realmente Cerrar Sesion?",
    okText: "Si",
    cancelText: "No",
    onOk() {
      logout();
    },
  });
};

const onCollapse = () => { }

const onBreakpoint = () => { }
</script>

<style scoped>
@import url("primevue/resources/themes/aura-light-green/theme.css");

body {
  margin: 0;
}

.logo {
  margin-left: 10px;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
</style>
