<template>
    <slot />
</template>

<script setup>
useHead({
    title: "Panet | Login",
    meta: [
        {
            name: "description",
            content: "Sistema de control de remesas y paqueteria Panet.",
        },
    ],
});
</script>

<style scoped>
body {
    margin: 0px !important;
}
</style>
