<template>
  <a-card title="Sucursales" style="width: 100%">
    <template #extra>
      <a-button @click="open = true" type="primary" block
        >Agregar Nueva</a-button
      >
    </template>
  </a-card>
  <a-table
    style="margin-top: 1rem"
    :columns="columns"
    :row-key="(record) => record.id"
    :data-source="data"
    :loading="loading"
  >
    <template #bodyCell="{ column, record }">
      <template v-if="column.key === 'status'">
        <a-tag v-if="record.status" color="green">Activa</a-tag>
        <a-tag v-else color="red">Inactiva</a-tag>
      </template>

      <template v-if="column.key === 'action'">
        <a-dropdown>
          <template #overlay>
            <a-menu @click="handleMenuClick">
              <a-menu-item @click="editar(record)" key="1">
                <EditOutlined />
                Editar
              </a-menu-item>
              <a-menu-item @click="usuarios(record.id)" key="2">
                <UserOutlined />
                Ver Usuarios
              </a-menu-item>
            </a-menu>
          </template>
          <a-button>
            Acciones
            <DownOutlined />
          </a-button>
        </a-dropdown>
      </template>
    </template>
  </a-table>
  <!-- modal de registro -->
  <a-modal
    v-model:open="open"
    title="Registrar Sucursal"
    @ok="storeSucursal"
    ok-text="Registrar"
    :ok-button-props="{ loading: registrando }"
  >
    <a-row :gutter="[8, 8]">
      <a-col :xs="24" :sm="24" :md="6">
        <a-input v-model:value="sucursal.code" placeholder="Codigo" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="18">
        <a-input v-model:value="sucursal.name" placeholder="Nombre" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="14">
        <a-input v-model:value="sucursal.address" placeholder="Direccion" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="10">
        <a-input v-model:value="sucursal.phone" placeholder="Telefono" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="12">
        <a-switch
          v-model:checked="sucursal.remittances"
          checked-children="Remesas Activas"
          un-checked-children="Remesas Inactivas"
        />
      </a-col>
      <a-col :xs="24" :sm="24" :md="12">
        <a-switch
          v-model:checked="sucursal.shipments"
          checked-children="Envios Activos"
          un-checked-children="Envios Inactivos"
        />
      </a-col>
      <a-col v-if="sucursal.shipments" :xs="24" :sm="24" :md="12">
        <a-input
          v-model:value="sucursal.userSurAmerica"
          placeholder="Usuario SurAmerica"
        />
      </a-col>
      <a-col v-if="sucursal.shipments" :xs="24" :sm="24" :md="12">
        <a-input
          v-model:value="sucursal.passwordSurAmerica"
          placeholder="Clave SurAmerica"
        />
      </a-col>
    </a-row>
  </a-modal>

  <!-- modal editar -->
  <a-modal
    v-model:open="openUpdate"
    title="Actualizar Sucursal"
    @ok="updateSucursal"
    ok-text="Actualizar"
    :ok-button-props="{ loading: actualizando }"
  >
    <a-row :gutter="[8, 8]">
      <a-col :xs="24" :sm="24" :md="6">
        <a-input v-model:value="sucursalEdit.code" placeholder="Codigo" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="18">
        <a-input v-model:value="sucursalEdit.name" placeholder="Nombre" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="14">
        <a-input v-model:value="sucursalEdit.address" placeholder="Direccion" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="10">
        <a-input v-model:value="sucursalEdit.phone" placeholder="Telefono" />
      </a-col>
      <a-col :xs="24" :sm="24" :md="8">
        <a-switch
          v-model:checked="sucursalEdit.remittances"
          checked-children="Remesas Activas"
          un-checked-children="Remesas Inactivas"
        />
      </a-col>
      <a-col :xs="24" :sm="24" :md="8">
        <a-switch
          v-model:checked="sucursalEdit.shipments"
          checked-children="Envios Activos"
          un-checked-children="Envios Inactivos"
        />
      </a-col>
      <a-col :xs="24" :sm="24" :md="8">
        <a-switch
          color="green"
          v-model:checked="sucursalEdit.status"
          checked-children="Activa"
          un-checked-children="Inactiva"
        />
      </a-col>
      <a-col v-if="sucursalEdit.shipments" :xs="24" :sm="24" :md="12">
        <a-input
          v-model:value="sucursalEdit.userSurAmerica"
          placeholder="Usuario SurAmerica"
        />
      </a-col>
      <a-col v-if="sucursalEdit.shipments" :xs="24" :sm="24" :md="12">
        <a-input
          v-model:value="sucursalEdit.passwordSurAmerica"
          placeholder="Clave SurAmerica"
        />
      </a-col>
    </a-row>
  </a-modal>
</template>

<script setup>
definePageMeta({
  layout: "admin",
});
const router = useRouter();
const open = ref(false);
const openUpdate = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const loading = ref(true);
const sucursal = ref({
  code: "",
  name: "",
  address: "",
  phone: "",
  remittances: false,
  shipments: false,
  userSurAmerica: "",
  passwordSurAmerica: "",
});
const sucursalEdit = ref("");

const columns = [
  {
    title: "Code",
    dataIndex: "code",
    key: "code",
  },
  {
    title: "Nombre",
    dataIndex: "name",
    key: "name",
  },
  {
    title: "Estado",
    key: "status",
    dataIndex: "status",
  },
  {
    title: "",
    key: "action",
  },
];
const data = ref([]);
const getSucursales = async () => {
  instanceWithToken.get('sucursals').then((result) => {
    data.value = result.data.data;
    loading.value = false;
  })

};

getSucursales();

const storeSucursal = async () => {
  message.info("Registrando");
  registrando.value = true;

  if (
    sucursal.value.shipments &&
    !sucursal.value.userSurAmerica &&
    !sucursal.value.passwordSurAmerica
  ) {
    message.error(
      "Debes proporcionar las credenciales de conexion con el api de paqueteria!"
    );
    registrando.value = false;
  } else {

    instanceWithToken.post('sucursals', sucursal.value).then((result) => {
      sucursal.value = {
        code: "",
        name: "",
        address: "",
        phone: "",
        remittances: false,
        shipments: false,
        userSurAmerica: "",
        passwordSurAmerica: "",
      };

      message.success("Sucursal Registrada con exito.");
      registrando.value = false;
      open.value = false;
      getSucursales();
    }).catch((e) => {
      message.error("Sucursal no registrada.");
      registrando.value = false;
    })

  }
};

const handleMenuClick = (e) => {
};

const editar = (item) => {
  openUpdate.value = true;
  sucursalEdit.value = item;
};

const updateSucursal = async () => {
  message.info("Actualizando");
  actualizando.value = true;

  if (
    sucursalEdit.value.shipments &&
    !sucursalEdit.value.userSurAmerica &&
    !sucursalEdit.value.passwordSurAmerica
  ) {
    message.error(
      "Debes proporcionar las credenciales de conexcion con el api de paqueteria!"
    );
    actualizando.value = false;
  } else {
    if (!sucursalEdit.value.shipments) {
      sucursalEdit.value.userSurAmerica = "";
      sucursalEdit.value.passwordSurAmerica = "";
    }
    const excludedFields = ["createdAt", "updatedAt", "id"];
    const filteredData = { ...sucursalEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);
    const { data, error, patchData } = useHttpPatchWithBearer(
      "sucursals/" + sucursalEdit.value.id,
      filteredData
    );

    await patchData();
    if (!data.value) {
      sucursalEdit.value = "";

      message.success("Sucursal Editada con exito");
      actualizando.value = false;
      openUpdate.value = false;
    }
  }
};

const usuarios = (id) => {
  router.push("/sucursales/" + id + "/usuarios");
};
</script>
