<template>
  
  <EstadisticasAdmin v-if="userStore.typeUser == 'PSADMIN'" />
  <EstadisticasOperario v-if="userStore.typeUser == 'POPERARIO'" />

</template>



<script setup>
const userStore = useUserStore();
import EstadisticasAdmin from '@/components/EstadisticasAdmin'
import EstadisticasOperario from '@/components/EstadisticasOperario';
definePageMeta({
  layout: "admin",
});
</script>