<template>
  <div class="login-container">
    <a-form class="login-form">
      <a-form-item>
        <label for="">Usuario</label>
        <a-input v-model:value="user" />
      </a-form-item>
      <a-form-item>
        <label for="">Clave</label>
        <a-input-password v-model:value="password" />
      </a-form-item>
      <a-form-item>
        <a-button @click="handleLogin()" :loading="loading" type="primary" block
          >Iniciar sesión</a-button
        >
      </a-form-item>
    </a-form>
  </div>
</template>
<script setup>
const user = ref("");
const password = ref("");
const loading = ref(false);
const userStore = useUserStore();
const router = useRouter();
const handleLogin = async () => {
  const playload = {
    user: user.value,
    password: password.value,
  };

  const { data, error, postData } = useHttpPost("auth/login", playload);

  await postData();
  if (data.value) {
    message.success("Sesion inicada con exito");
    userStore.sesion = true;
    userStore.token = data.value.data.token;
    userStore.typeUser = data.value.data.user.typeUser;
    userStore.puller = data.value.data.user.puller;
    userStore.name = data.value.data.user.name;
    userStore.account_owner = data.value.data.user.account_owner;
    userStore.profit_commission = data.value.data.user.profit_commission;
    userStore.id = data.value.data.user.id;
    if (data.value.data.user.sucursal != null) {
      userStore.sucursal_remittances =
        data.value.data.user.sucursal.remittances;
      userStore.sucursalId = data.value.data.user.sucursal.id;
      userStore.sucursal_shipments = data.value.data.user.sucursal.shipments;
      userStore.sucursal_name = data.value.data.user.sucursal.name;
      userStore.sucursal_code = data.value.data.user.sucursal.code;
      userStore.sucursal_address = data.value.data.user.sucursal.address;
      userStore.shipments_user = data.value.data.user.sucursal.userSurAmerica;
      userStore.shipments_password =
        data.value.data.user.sucursal.passwordSurAmerica;
    }
    router.push("/home");
  } else {
    message.error("Error en el inicio de sesion, veirifique sus datos.");
  }
};
onBeforeMount(async () => {
  if (userStore.sesion) {
    router.push("/home");
  }
});
</script>

<style scoped>
body {
  margin: 0px !important;
}
.login-container {
  margin: 0px;
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  background-image: url("@/assets/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  margin-right: 3rem;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-form .ant-form-item-label {
  white-space: nowrap;
}
.login-form .ant-form-item-control {
  width: 100%;
}
</style>