.btn {
  @apply text-sm p-2;
}

.btn-success {
  @apply bg-teal-700 text-white;
}

.btn-info {
  @apply bg-blue-700 text-white;
}

.btn-danger {
  @apply bg-red-800 text-white;
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ;
}