<template>
    <a-card title="Paises" style="width: 100%">
        <template #extra>
            <a-button @click="open = true" type="primary" block>Agregar Nuevo</a-button>
        </template>
    </a-card>

    <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="data"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'status'">
                <a-tag v-if="record.status" color="green">Activa</a-tag>
                <a-tag v-else color="red">Inactiva</a-tag>
            </template>

            <template v-if="column.key === 'action'">
                <a-dropdown>
                    <template #overlay>
                        <a-menu @click="handleMenuClick">
                            <a-menu-item @click="editar(record)" key="1">
                                <EditOutlined />
                                Editar
                            </a-menu-item>
                            <a-menu-item @click="bancos(record.id)" key="2">
                                <BankOutlined />
                                Bancos
                            </a-menu-item>
                            <!-- <a-menu-item @click="cuentas(record.id)" key="3">
                                <DollarCircleOutlined />
                                Cuentas
                            </a-menu-item> -->
                        </a-menu>
                    </template>
                    <a-button>
                        Acciones
                        <DownOutlined />
                    </a-button>
                </a-dropdown>
            </template>
        </template>
    </a-table>

    <!-- modal de registro -->
    <a-modal v-model:open="open" title="Registrar Pais" @ok="storeCountrie" ok-text="Registrar"
        :ok-button-props="{ loading: registrando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24">
                <a-input v-model:value="pais.name" placeholder="Pais" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="pais.abbreviation" placeholder="Abreviatura" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="pais.currency" placeholder="Moneda" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
                Porcentaje Normal
                <a-input-number style="width: 100%" v-model:value="pais.profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
            Porcentaje Venezuela
                <a-input-number style="width: 100%" v-model:value="pais.ven_profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>

            <a-col :xs="24" :sm="24" :md="8">
            Porcentaje Especial
                <a-input-number style="width: 100%" v-model:value="pais.especial_profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>
        </a-row>
    </a-modal>

    <!-- modal de registro -->
    <a-modal v-model:open="openEdit" title="Actualizar Pais" @ok="updatePais" ok-text="Actualizar"
        :ok-button-props="{ loading: actualizando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24">
                <a-input v-model:value="paisEdit.name" placeholder="Pais" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="paisEdit.abbreviation" placeholder="Abreviatura" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="12">
                <a-input v-model:value="paisEdit.currency" placeholder="Moneda" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="8">
                Porcentaje Normal
                <a-input-number style="width: 100%" v-model:value="paisEdit.profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="8">   
            Porcentaje Venezuela
                <a-input-number style="width: 100%" v-model:value="paisEdit.ven_profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="8">
            Porcentaje Especial
                <a-input-number style="width: 100%" v-model:value="paisEdit.especial_profit" placeholder="Porcentaje"
                    addon-after="%" />
            </a-col>
        </a-row>
    </a-modal>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

const columns = [
    {
        title: "Pais",
        dataIndex: "name",
        key: "name",
    },
    {
        title: "Abreviacion",
        dataIndex: "abbreviation",
        key: "abbreviation",
    },
    {
        title: "Moneda",
        dataIndex: "currency",
        key: "currency",
    },
    {
        title: "Porcentaje",
        dataIndex: "profit",
        key: "profit",
    },
    {
        title: "Porcentaje Venezuela",
        dataIndex: "ven_profit",
        key: "ven_profits",
    },
    {
        title: "",
        key: "action",
    },
];
const router = useRouter();
const loading = ref(true);
const open = ref(false);
const openEdit = ref(false);
const registrando = ref(false);
const actualizando = ref(false);
const data = ref([]);
const pais = ref({
    name: "",
    abbreviation: "",
    currency: "",
    profit: 0.0,
    ven_profit: 0.0,
    especial_profit: 0.0
});
const paisEdit = ref("");
const getPaises = async () => {
    instanceWithToken.get("countries?status=true").then((result) => {
        data.value = result.data.data
        loading.value = false
    }).catch((error) => { })
};
getPaises();

const storeCountrie = async () => {
    message.info("Registrando");
    registrando.value = true;
    instanceWithToken.post('countries', pais.value).then((result) => {
        message.success("Pais Registrado con exito");
        registrando.value = false;
        open.value = false;
        getPaises();
    }).catch((error) => {
        message.error("No se ha Registrado el pais");
        registrando.value = false;
    })
};

const editar = (item) => {
    paisEdit.value = item;
    openEdit.value = true;
};

const updatePais = async () => {
    const excludedFields = ["createdAt", "updatedAt", "id"];
    const filteredData = { ...paisEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);
    filteredData.especial_profit = parseFloat(paisEdit.value.especial_profit)
    filteredData.ven_profit = parseFloat(paisEdit.value.ven_profit)
    filteredData.profit = parseFloat(paisEdit.value.profit)
    instanceWithToken.patch('countries/' + paisEdit.value.id, filteredData).then((result) => {
        message.success("Pais Actualizado con exito");
        actualizando.value = false;
        openEdit.value = false;
        getPaises();
    }).catch((error) => {
        message.error("No se ha Actualizado el pais");
        actualizando.value = false;
    })
};

const bancos = (id) => {
    router.push("/paises/" + id + "/bancos");
};

const cuentas = (id) => {
    router.push("/paises/" + id + "/accounts");
};
</script>

