<template>
    <a-card title="Actualizacion de Montos" style="width: 100%">
        <template #extra>
            <a-input v-model:value="tasaMayor" @change="reasignarVenta()" placeholder="Tasa de Venta Venezuela" />
            <a-button @click="update()" type="primary" block>Actualizar Montos</a-button>
        </template>
    </a-card>

    <a-table :pagination="false" style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="countries"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'rate_purchase' || column.key === 'rate_sales'">
                <a-input v-model:value="record[column.key]" placeholder="Editar" @change="handleFieldChange(record)" />
            </template>

            <template v-if="column.key === 'options'">
                <a-button type="primary" shape="circle" @click="loadRates(record)">
                    <CaretRightOutlined />
                </a-button>
            </template>
        </template>
    </a-table>


    <a-modal v-model:open="ratesmodal" title="Listado de tasas" @ok="() => { ratesmodal.value = false }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24" class="tituloModal">
                {{ paisOrigen }}
            </a-col>
        </a-row>
        <a-row :gutter="[8, 8]" v-for="(rate) in rates" :key="rate.id">
            <a-col :xs="24" :sm="24" :md="6" v-if="rate.destination.id != idOrigen">
                {{ rate.destination.name }}
            </a-col>
            <a-col :xs="24" :sm="24" :md="12" style="text-align: center;" v-if="rate.destination.id != idOrigen">
                {{rate.rate}} {{ rate.destination.currency }}
            </a-col>
            <a-col :xs="24" :sm="24" :md="6" style="text-align: center;" v-if="rate.destination.id != idOrigen">
                <a-switch @change="(value) => updateValue(value, rate.id)" v-model:checked="rate.status" />
            </a-col>
        </a-row>
    </a-modal>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});

const countries = ref([])
const tasaMayor = ref(0)
const ratesmodal = ref(false)
const paisOrigen = ref('')

const rates = ref([])
const idOrigen = ref(0)

const columns = ref([
    { title: 'Nombre', dataIndex: 'name', key: 'name' },
    { title: 'Tasa de compra', dataIndex: 'rate_purchase', key: 'rate_purchase' },
    { title: 'Tasa de venta', dataIndex: 'rate_sales', key: 'rate_sales' },
    { title: 'Tasa al Mayor', dataIndex: 'rate_wholesale', key: 'rate_wholesale' },
    { title: 'Ver Tasas', dataIndex: 'options', key: 'options' },
])

const getPaises = () => {
    instanceWithToken.get('countries?status=true').then((result) => {
        message.success("Listado de Paises obtenidos con exito")
        countries.value = result.data.data
        tasaMayor.value = countries.value[0].rate_sales
    })
}

getPaises()

const handleFieldChange = (record) => {
    if (record.id === 1) return;
    if (record.id === 2) {
        const calculo = record.rate_purchase / tasaMayor.value
        record.rate_wholesale = calculo.toFixed(3)
        return
    }
    if (record.rate_purchase && record.rate_sales) {
        const calculo = tasaMayor.value / record.rate_purchase
        record.rate_wholesale = calculo.toFixed(3)
    }
}

const reasignarVenta = () => {
    countries.value[0].rate_sales = tasaMayor.value
    countries.value[0].rate_wholesale = tasaMayor.value
}

const update = () => {
    message.info("Se inicio el proceso de actualizacion de tasas al mayor!")
    countries.value.map((countrie) => {
        const excludedFields = ["createdAt", "updatedAt", "id", "profit", "ven_profit", "especial_profit", "deleteAt"];
        const filteredData = { ...countrie };
        excludedFields.forEach((field) => delete filteredData[field]);
        instanceWithToken.patch('countries/' + countrie.id, filteredData).then((result) => {
        })
    })
    message.success("Se han actualizado las tasas al mayor correctamente")

    message.info("Se inicio el proceso de actualizacion de tasas al publico!")
    instanceWithToken.patch('rates').then((result) => {
       message.success("Se han actualizado las tasas al publico correctamente")
    })
}


const loadRates = (countrie) => {
    paisOrigen.value = countrie.name
    ratesmodal.value = true
    idOrigen.value = countrie.id

    rates.value = []
    instanceWithToken.get('rates/origen/' + countrie.id).then((result) => {
        rates.value = result.data.data
    })
}

const updateValue = (status, rate) => {
    instanceWithToken.get('rates/update-status/'+status+'/'+rate).then((result) => {
        message.success("Estatus Actualizado con exito")
    })
}
</script>

<style>
.tituloModal {
    text-align: center;
    font-size: 2rem;
}
</style>