<template>
    <a-card title="Tipos de Documentos" style="width: 100%">
        <template #extra>
            <a-button @click="open = true" type="primary" block>Agregar Nuevo</a-button>
        </template>
    </a-card>

    <a-table style="margin-top: 1rem" :columns="columns" :row-key="(record) => record.id" :data-source="documents"
        :loading="loading">
        <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'status'">
                <a-tag v-if="record.status" color="green">Activa</a-tag>
                <a-tag v-else color="red">Inactiva</a-tag>
            </template>

            <template v-if="column.key === 'action'">
                <a-dropdown>
                    <template #overlay>
                        <a-menu @click="handleMenuClick">
                            <a-menu-item @click="editar(record)" key="1">
                                <EditOutlined />
                                Editar
                            </a-menu-item>
                        </a-menu>
                    </template>
                    <a-button>
                        Acciones
                        <DownOutlined />
                    </a-button>
                </a-dropdown>
            </template>
        </template>
    </a-table>



    <a-modal v-model:open="open" title="Registrar Documento" @ok="store" ok-text="Crear Documento"
        :ok-button-props="{ loading: registrando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24">
                <label for="">Documento</label>
                <a-input v-model:value="document.document" placeholder="Documento" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                <label for="">Descripcion</label>
                <a-textarea :auto-size="{ minRows: 3, maxRows: 5 }" v-model:value="document.descripcion"
                    placeholder="Descripcion" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                <label>Tipo de Documento</label>
                <a-select v-model:value="document.type" placeholder="Tipo de Documento" style="width: 100%"
                    :options="typeDocuments"></a-select>
            </a-col>
        </a-row>
    </a-modal>


    <a-modal v-model:open="openEdit" title="Editar Documento" @ok="update" ok-text="Editar Documento"
        :ok-button-props="{ loading: actualizando }">
        <a-row :gutter="[8, 8]">
            <a-col :xs="24" :sm="24" :md="24">
                <label for="">Documento</label>
                <a-input v-model:value="documentEdit.document" placeholder="Documento" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                <label for="">Descripcion</label>
                <a-textarea :auto-size="{ minRows: 3, maxRows: 5 }" v-model:value="documentEdit.descripcion"
                    placeholder="Descripcion" />
            </a-col>
            <a-col :xs="24" :sm="24" :md="24">
                <label>Tipo de Documento</label>
                <a-select v-model:value="documentEdit.type" placeholder="Tipo de Documento" style="width: 100%"
                    :options="typeDocuments"></a-select>
            </a-col>
        </a-row>
    </a-modal>
</template>

<script setup>
definePageMeta({
    layout: "admin",
});
const typeDocuments = ref([
    { value: 'IMAGEN', label: 'IMAGEN' },
    { value: 'TEXTO', label: 'TEXTO' },
])
const columns = [
    {
        title: "Documento",
        dataIndex: "document",
        key: "document",
    },
    {
        title: "Tipo Documento",
        dataIndex: "type",
        key: "type",
    },
    {
        title: "",
        key: "action",
    },
];
const registrando = ref(false)
const actualizando = ref(false)
const open = ref(false)
const openEdit = ref(false)
const documents = ref([])
const documentEdit = ref(null)
const document = ref({
    document: null,
    descripcion: null,
    type: null
})
const getDocuments = () => {
    instanceWithToken.get('documents').then((result) => {
        documents.value = result.data.data
    })
}

getDocuments()

const store = () => {
    registrando.value = true
    instanceWithToken.post('documents', document.value).then((result) => {
        if (result.data.success) {
            message.success("Registro de documnento con exito")
            open.value = false
            document.value = {  
                document: null,
                descripcion: null,
                type: null
            }
        }
        getDocuments()
        registrando.value = false
    }).catch((e)  => {
        message.error("Error registrando intente nuevamente")
        registrando.value = false
    })
}

const editar = (value) => {
    documentEdit.value = value
    openEdit.value = true
}

const update = () => {
    actualizando.value = true
    const excludedFields = ["createdAt", "updatedAt", "deleteAt", "id"];
    const filteredData = { ...documentEdit.value };
    excludedFields.forEach((field) => delete filteredData[field]);
    instanceWithToken.patch('documents/'+documentEdit.value.id, filteredData).then((result) => {
        if (result.data.success) {
            message.success("Actulizacion de documnento con exito")
            open.value = false
            document.value = {
                document: null,
                descripcion: null,
                type: null
            }
        }
        getDocuments()
        openEdit.value = false
        actualizando.value = false
    }).catch((e)  => {
        message.error("Error actualizando intente nuevamente")
        actualizando.value = false
    })
}
</script>