<template>
  <a-card title="Ver Documento">

    <template #extra>
      <a-button @click="() => { router.go(-1) }">Regresar</a-button>
    </template>

    <object :data="adicionalStore.linkPdf" type="application/pdf" width="100%" height="600" />

  </a-card>
</template>

<script setup>
definePageMeta({
  layout: "admin",
});
const router = useRouter()

const adicionalStore = useAdicionalStore()

</script>